@model IEnumerable<ProjectMangaSmurf.Models.TacGium>

@using ProjectMangaSmurf.Repository
@inject IAuthorRepository authorRepository
@inject IboTruyenRepository boTruyenRepository

<style>
    .page-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .filters {
        margin-left: 100px;
        margin-top: 10px;
    }

    .search-set + .filters {
        margin-top: 10px;
    }
</style>

<div class="content">
    <div class="page-header d-flex justify-content-between align-items-center">
        <div class="page-title">

            <h4><i class="fa-brands fa-watchman-monitoring"></i> LIST OF AUTHORS /h4>
            <h6>Manage Author</h6>
        </div>
        <div class="page-btn">
            <a asp-area="Admin" asp-controller="AuthorManager" asp-action="Add" class="btn btn-added">
                <img src="~/img/icons/plus.svg" alt="img" class="me-1"> Add New Author
            </a>
        </div>
    </div>

    <div class="card">
        <div class="card-body">
            <div class="table-top">
                <div class="search-set">
                    <div class="search-path">
                     
                    </div>
                    <div class="search-input">
                        <a class="btn btn-searchset">
                            <img src="~/img/icons/search-white.svg" alt="img">
                        </a>
                    </div>
                     <div class="filters">
                        <a href="@Url.Action("Index", "AuthorManager", new { area = "Admin", isActive = (bool?)null })" class="btn btn-primary">See All <i class="fa-solid fa-border-all"></i></a>
                        <a href="@Url.Action("Index", "AuthorManager", new { area = "Admin", isActive = true })" class="btn btn-success">Activating <i class="fa-solid fa-person-digging"></i></a>
                        <a href="@Url.Action("Index", "AuthorManager", new { area = "Admin", isActive = false })" class="btn btn-danger">Banning <i class="fa-solid fa-ban"></i></a>
                    </div> 
                </div>
            
            </div>
            <div class="table-responsive">
                <table class="table datanew">
                    <thead>
                        <tr>
                            <th>ID Author</th>
                            <th>Name</th>
                            <th>Number of Series</th>
                            <th>Active</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var author in Model)
                        {
                            <tr>
                                <td>@author.IdTg</td>
                                <td>@author.TenTg</td>
                                <td>@boTruyenRepository.CountByAuthorId(author.IdTg).Result</td> <!-- Consider moving this logic to the controller -->
                                <td>@(author.Active.HasValue ? (author.Active.Value ? "Yes" : "No") : "Unknown")</td>
                                <td>
                                    <a asp-area="Admin" asp-controller="AuthorManager" asp-action="Detail" asp-route-id="@author.IdTg" class="me-3">
                                        <img src="~/img/icons/eye.svg" alt="View">
                                    </a>
                                    <a asp-area="Admin" asp-controller="AuthorManager" asp-action="Update" asp-route-id="@author.IdTg" class="me-3">
                                        <img src="~/img/icons/edit.svg" alt="Edit">
                                    </a>
                                    <a class="delete-author me-3" data-product-id="@author.IdTg" href="javascript:void(0);">
                                        <img src="~/img/icons/delete.svg" alt="img">
                                    </a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $(".delete-chapter").click(function (e) {
            e.preventDefault(); // Prevent the default form submission
            var idBo = $(this).data('idbo');
            var sttChap = $(this).data('sttchap');

            Swal.fire({
                title: "Are you sure?",
                text: "You will not be able to recover this chapter!",
                icon: "warning",
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Yes, delete it!'
            }).then((result) => {
                if (result.isConfirmed) {
                    $.ajax({
                        url: '@Url.Action("DeleteConfirmed", "ChapterManager")',
                        type: 'POST',
                        data: { idBo: idBo, sttChap: sttChap },
                        success: function (response) {
                            if (response.success) {
                                Swal.fire('Deleted!', response.message, 'success');
                                // Optionally reload the page or remove the chapter row from the table
                            } else {
                                Swal.fire('Error!', response.message, 'error');
                            }
                        }
                    });
                }
            });
        });
    });
</script>



