@model IEnumerable<ProjectMangaSmurf.Areas.Identity.Data.ApplicationUser>

@using ProjectMangaSmurf.Repository
@inject IAuthorRepository authorRepository
@inject IboTruyenRepository boTruyenRepository

<style>
    .page-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .filters {
        margin-left: 100px;
        margin-top: 10px;
    }

    .search-set + .filters {
        margin-top: 10px;
    }
</style>

<div class="content">
    <div class="page-header d-flex justify-content-between align-items-center">
        <div class="page-title">
            <h4>Danh Sách Nhân Viên</h4>
            <h6>Quản lý danh sách Nhân Viên</h6>
        </div>
        <div class="page-btn">
            <a asp-area="Identity" asp-page="/Account/Register" class="btn btn-added">
                <img src="~/img/icons/plus.svg" alt="img" class="me-1"> Thêm mới nhân viên
            </a>
        </div>
    </div>

    <div class="card">
        <div class="card-body">
            <div class="table-top">
                <div class="search-set">
                    <div class="search-path">
                    </div>
                    <div class="search-input">
                        <a class="btn btn-searchset">
                            <img src="~/img/icons/search-white.svg" alt="img">
                        </a>
                    </div>
                </div>
                <div class="wordset">
                    <ul>
                        <li>
                            <a data-bs-toggle="tooltip" data-bs-placement="top" title="pdf">
                                <img src="~/img/icons/pdf.svg" alt="img">
                            </a>
                        </li>
                        <li>
                            <a data-bs-toggle="tooltip" data-bs-placement="top" title="excel">
                                <img src="~/img/icons/excel.svg" alt="img">
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="table-responsive">
                <table class="table datanew">
                    <thead>
                        <tr>
                            <th>FullName</th>
                            <th>Address</th>
                            <th>Age</th>
                            <th>Phone</th>
                            <th>Email</th>
                            <th>Active</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var a in Model)
                        {
                            <tr>
                                <td>@a.FullName</td>
                                <td>@a.Address</td>
                                <td>@a.Age</td>
                                <td>@a.PhoneNumber</td>
                                <td>@a.Email</td>
                                <td>@a.LockoutEnabled</td>
                                <td>
                                    @* <a asp-area="Admin" asp-controller="AuthorManager" asp-action="Detail" asp-route-id="@a.Id" class="me-3">
                                        <img src="~/img/icons/eye.svg" alt="View">
                                    </a> *@
                                    <a asp-area="Admin" asp-controller="AuthorManager" asp-action="Edit" asp-route-id="@a.Id" class="me-3">
                                        <img src="~/img/icons/edit.svg" alt="Edit">
                                    </a>
                                    <a asp-area="Admin" asp-controller="AuthorManager" asp-action="Delete" asp-route-id="@a.Id" class="me-3">
                                        <img src="~/img/icons/delete.svg" alt="Delete">
                                    </a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<script>
    $(function () {
        $('[data-bs-toggle="tooltip"]').tooltip();
    });
</script>
