@using ProjectMangaSmurf.Repository
@using Microsoft.AspNetCore.Http
@inject Microsoft.AspNetCore.Antiforgery.IAntiforgery Xsrf
@inject IHttpContextAccessor HttpContextAccessor
@inject IChapterRepository ChapterRepository
@inject IboTruyenRepository boTruyenRepository
@inject IKhachHangRepository khachhangrepository
@model ProjectMangaSmurf.Models.Chapter


<link href="~/css/styleCT.css" rel="stylesheet" />
<link href="~/css/styleChapter.css" rel="stylesheet" />


<div class="overlay" id="loginOverlay" style="display:none;"></div>
<div class="container_pop" id="loginForm" style="display:none;">
    <label for="show" class="close-btn fas fa-times" title="close"></label>
    <div class="text">
        Login Form
    </div>
    @* <form method="post" action="#">
        <input type="text" name="username" placeholder="Username" required />
        <input type="password" name="password" placeholder="Password" required />
        <button type="submit">Login</button>
    </form> *@
    <form method="post" asp-controller="KhachHang" asp-action="LoginPopup">
        <div class="data">
            <label>UserName</label>
            <input name="Taikhoan" type="text" required autocomplete="nope">
        </div>
        <div class="data">
            <label>Password</label>
            <input name="Matkhau" type="password" required autocomplete="new-password">
        </div>
        <input type="hidden" name="returnUrl" value="@ViewBag.ReturnUrl" />
        <div class="forgot-pass">
            <a href="#">Forgot Password?</a>
        </div>
        <div class="btn">
            <div class="inner"></div>
            <button type="submit">login</button>
        </div>
        <div class="signup-link">
            Not a member? <a href="#">Signup now</a>
        </div>
    </form>

</div>
<div class="reading">
    <div class=" reading__container containers">
        <div class="links">
            <a class="home" asp-area="" asp-controller="BoTruyen" asp-action="Index"> <i class="ri-home-4-fill"></i> Trang chủ </a> / <a class="truyen" asp-action="CTBoTruyen" asp-route-id="@Model.IdBo">@Model.IdBo</a> / <a class="chapter" asp-action="Chapter" asp-route-id="@Model.IdBo" asp-route-stt="@Model.SttChap">Chap @Model.SttChap</a>
        </div>

        <div class="infor">
            <div class="detail">
                @{
                    var truyen = boTruyenRepository.GetByIdAsync(Model.IdBo);
                    if (truyen != null)
                    {
                        var demo = await truyen;
                        <h3 class="name">  @demo.TenBo - <span class="chapter">chap @Model.SttChap</span></h3>
                    }

                }

            </div>
            <span class="time">@Model.ThoiGian.ToString("dd-MM-yyyy")</span>
            <h4 class="note">@Model.TenChap</h4>
            <div class="btn__error">
                <a asp-area="" asp-controller="Contact" asp-action="Index" class="error">Báo lỗi</a>
            </div>
        </div>

    </div>
    <div class="control" id="control">
        <a asp-area="" asp-controller="BoTruyen" asp-action="Index" class="btn-home"><i class="ri-home-4-fill"></i></a>
        @{
            var sttchapMin = @Model.SttChap - 1;
            if (sttchapMin >= 1)
            {
                <a class="btn-prev" asp-action="Chapter" asp-route-id="@Model.IdBo" asp-route-stt="@sttchapMin"><i class="ri-arrow-left-s-line"></i></a>
            }
        }
        

        <div class="dropdown">
            <a class="btn dropdown-btn" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Chap @Model.SttChap <i class="ri-arrow-down-s-line"></i>
            </a>

            <ul class="dropdown-menu">
                @{
                    var listChapter = ChapterRepository.GetAllByIdAsync(Model.IdBo);
                    IEnumerable<Chapter> chapters = await listChapter;
                    List<Chapter> chapterList = chapters.ToList();
                    var kh = @HttpContextAccessor.HttpContext.Session.GetString("TK");
                    KhachHang khach = new KhachHang();
                    if (kh != null)
                    {
                        khach = await khachhangrepository.GetByAccountAsync(kh);
                    }

                    var idKh = khach?.IdUser;
                    var isPremium = khach?.ActivePremium ?? false;
                    if (chapterList != null)
                    {
                        @foreach (var chap in chapterList)
                        {
                            if (chap.TtPemium == true)
                            {
                                <li>
                                    <a class="dropdown-item premium-chap" data-chapter-id="@chap.IdBo" data-chapter-stt="@chap.SttChap" data-idkh="@idKh" data-ispremium="@isPremium">
                                         chap @chap.SttChap - @chap.TenChap <img style="width:40px!important; height:15px!important; border-radius:0!important; right:0;" src="~/images/predark.png" />
                                    </a>
                                </li>
                            }
                            else
                            {
                                <li><a class="dropdown-item" asp-action="Chapter" asp-route-id="@chap.IdBo" asp-route-stt="@chap.SttChap">chap @chap.SttChap - @chap.TenChap</a></li>
                            }
                        }
                    }
                    
                }
            </ul>
        </div>
        @{
            var sttchapMax = @Model.SttChap + 1;
            var sttMax = ChapterRepository.GetEarliestByIdAsync(Model.IdBo);
            if (sttchapMax <= sttMax)
            {
                <a class="btn-next" asp-action="Chapter" asp-route-id="@Model.IdBo" asp-route-stt="@sttchapMax"><i class="ri-arrow-right-s-line"></i></a>
            }
        }
        @if (ViewBag.follow)
        {
            <a id="btn-unfollow" class="btn-follow" style="background-color: #FE0000; padding:.5rem; border-radius:5px;">
                <i class="ri-close-fill"></i>
                <span>Hủy Theo dõi</span>
            </a>
            <script>
                $(document).ready(function () {
                    $('#btn-unfollow').click(function (event) {
                        event.preventDefault();
                        $.ajax({
                            url: '@Url.Action("UnFollow", "KhachHang")',
                            type: 'POST',
                            data: {
                                __RequestVerificationToken: '@Html.AntiForgeryToken()',
                                id: '@Model.IdBo',
                                stt: '@Model.SttChap'
                            },
                            success: function (response) {
                                if (response.success) {
                                    alert('Lỗi Khi UnFollow, Vui lòng thử lại');
                                    location.reload();
                                } else {
                                    location.reload(true);
                                }
                            },
                            error: function () {
                                alert('Không thể gửi yêu cầu. Vui lòng kiểm tra lại.');
                            }
                        });
                    });
                });
            </script>
        }
        @if (ViewBag.follow == false)
        {
            <a id="btn-follow" class="btn-follow">
                <i class="fa-solid fa-heart"></i>
                <span> Theo dõi</span>
            </a>
            <script>
                $(document).ready(function () {
                    $('#btn-follow').click(function (event) {
                        event.preventDefault();
                        var sessionTK = '@HttpContextAccessor.HttpContext.Session.GetString("TK")';

                        if (sessionTK !== null && sessionTK !== '') {
                            $.ajax({
                                url: '@Url.Action("Follow", "KhachHang")',
                                type: 'POST',
                                data: {
                                    __RequestVerificationToken: '@Html.AntiForgeryToken()',
                                    id: '@Model.IdBo',
                                    stt: '@Model.SttChap'
                                },
                                success: function (response) {
                                    if (response.success) {
                                        alert('Lỗi Khi Follow, Vui lòng thử lại');
                                    } else {
                                        location.reload();
                                    }
                                },
                                error: function () {
                                    alert('Không thể gửi yêu cầu. Vui lòng kiểm tra lại.');
                                }
                            });
                        } else {
                            alert('Bạn cần đăng nhập để theo dõi bộ truyện');
                        }
                    });
                });
            </script>
        }
    </div>

    <div class="reading-detail containers">
        @{
            var listImage = ChapterRepository.GetAllCTByIdAsync(Model.IdBo, Model.SttChap);
            IEnumerable<CtChapter> list = await listImage;
            List<CtChapter> listCT = list.ToList();

            if (listCT != null)
            {
                foreach (var item in listCT)
                {
                    <div id="" class="page-chapter">
                        <img src="@item.AnhTrang" alt="trang @item.SoTrang">
                    </div>
                }
            }
            else
            {
                <script>
                    alert("error");
                </script>
            }
        }
    </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.js" integrity="sha512-HGOnQO9+SP1V92SrtZfjqxxtLmVzqZpjFFekvzZVWoiASSQgSr4cw9Kqd2+l8Llp4Gm0G8GIFJ4ddwZilcdb8A==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script>
    


    // document.addEventListener('contextmenu', function (e) {
    //     e.preventDefault();
    // }, false);

    document.onkeydown = function (e) {
        if (e.ctrlKey && (e.shiftKey && (e.keyCode == 73 || e.keyCode == 74)) || e.keyCode == 83 || e.keyCode == 80) {
            e.preventDefault();
        if (e.shiftKey && e.keyCode == 83) {
            e.preventDefault();
        }
    };

        var showBtn = document.getElementById('show');
        var container = document.querySelector('.container_pop');
        var overlay = document.querySelector('.overlay');
        overlay.addEventListener('click', function () {
            document.getElementById('show').checked = false;
            container.style.transform = 'translate(-50%, -50%) scale(0)';
            setTimeout(function () {
                container.style.display = 'none';
                overlay.style.display = 'none';
            }, 500);
        });
</script>

<script>
    $(document).ready(function () {
        $('#btn-follow').click(function (event) {
            event.preventDefault();
            var sessionTK = '@HttpContextAccessor.HttpContext.Session.GetString("TK")';
            if (!sessionTK) {
                // Hiển thị form đăng nhập
                $('#loginOverlay').show();
                $('#loginForm').show();
            } else {
                // AJAX call to follow chapter
                $.ajax({
                    url: '@Url.Action("Follow", "KhachHang")',
                    type: 'POST',
                    data: {
                        __RequestVerificationToken: '@Html.AntiForgeryToken()',
                        id: '@Model.IdBo',
                        stt: '@Model.SttChap'
                    },
                    success: function (response) {
                        if (response.success) {
                            alert('Bạn đã follow thành công!');
                            location.reload();
                        } else {
                            alert('Lỗi khi follow, vui lòng thử lại');
                        }
                    },
                    error: function () {
                        alert('Không thể gửi yêu cầu. Vui lòng kiểm tra lại.');
                    }
                });
            }
        });

        $('.overlay').click(function () {
            $(this).hide();
            $('#loginForm').hide();
        });

        $('.close-btn').click(function () {
            $('#loginOverlay').hide();
            $('#loginForm').hide();
        });
    });

    let lastScrollTop = 0;
    const control = document.getElementById("control");
    window.addEventListener("scroll", function () {
        let currentScroll = window.pageXOffset || document.documentElement.scrollTop;

        if (currentScroll > lastScrollTop) {
            control.classList.add("hidden");
        } else {
            control.classList.remove("hidden");
        }
        lastScrollTop = currentScroll;
    });
</script>