@model IEnumerable<ProjectMangaSmurf.Models.BoTruyen>
@using ProjectMangaSmurf.Repository
@inject IboTruyenRepository boTruyenRepository
@inject IChapterRepository chapterRepository

<div class="background"></div>
<div class="main__top section">
    <div class="top__container containers" style="overflow:hidden;">
        <div class="top__content">
            <div>
                <span class="section__subtitle">Truyện Mới</span>
                <p class="section__des">Cập nhật những bộ truyện mới nhất trong năm 2024</p>
            </div>
        </div>
        <div class=" slick-list autoplay row col-6 w-100 d-flex justify-content-center">

            @foreach (var botruyen in Model)
            {
                
                <div class="col update-item" asp-action="CTBoTruyen" asp-route-id="botruyen.IdBo">
                    <a asp-action="CTBoTruyen" asp-route-id="@botruyen.IdBo">
                        <figure>
                            @if (!string.IsNullOrEmpty(botruyen.AnhBia))
                            {
                                <img src="@botruyen.AnhBia" alt="truyen Image" />
                            }
                            <figcaption>
                                <h6 class="item-title"><a href="#">@botruyen.TenBo</a></h6>
                            </figcaption>
                        </figure>
                    </a>
                </div>
            }
        </div>
    </div>
</div>
<div class="main__bottom TruyenNew__Containter containers grid">
    <section class="home" id="home">
        <div class="home__container w-100">
            <div id="carouselExampleAutoplaying" class="carousel slide home__carousel bg__carousel w-100" data-bs-ride="carousel">
                <div class="carousel-inner rounded-3 w-100" style="">
                    @{
                        string TruncateText(string text, int maxLength)
                        {
                            if (text.Length > maxLength)
                            {
                                string[] words = text.Split(new char[] { ' ' }, StringSplitOptions.RemoveEmptyEntries);
                                string displayText = string.Join(" ", words.Take(maxLength));
                                if (words.Length > maxLength)
                                {
                                    displayText += "...";
                                }
                                return displayText;
                            }
                            return text;
                        }
                    }

                    @foreach (var botruyen in Model.Select((value, index) => new { Value = value, Index = index }))
                    {
                        <div class="carousel-item @(botruyen.Index == 0 ? "active" : "") w-100 main-Banner">
                            @if (!string.IsNullOrEmpty(botruyen.Value.AnhBanner))
                            {
                                <img src="@botruyen.Value.AnhBanner" class="d-block w-100 rounded-3" alt="Anh banner" style="height: 450px!important; object-fit: cover;">
                            }
                            @if (botruyen.Value.TtPemium)
                            {
                                <div class="item-vip-banner">
                                    <img style="width:100px!important; height:40px!important; border-radius:0!important;" src="~/images/predark.png" />
                                </div>
                            }
                            <div class="item-infor">
                                <div class="item-content">
                                    <div class="content">
                                        <a href="#">@botruyen.Value.TenBo</a>
                                    </div>
                                    <div class="item-des">
                                        <p>@TruncateText(botruyen.Value.Mota, 35)</p>
                                    </div>
                                </div>
                                <div class="btn__regis w-50">
                                    <a asp-action="CTBoTruyen" asp-route-id="@botruyen.Value.IdBo">View more</a>
                                </div>
                            </div>
                        </div>
                    }
                </div>
                <div class="background-item rounded-3"></div>
                <button class="carousel-control-prev " type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev" style="width: 5%; z-index: 1000;">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next" style="width: 5%; z-index: 1000;">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                </button>
            </div>
        </div>
    </section>
    <div class="main__right">
        <div class="main__random bg">
            <div class="item-content">
                <div class="content">
                    <a href="#">Hôm nay đọc gì?</a>
                </div>
                <div class="horizontal"></div>
                <div class="item-des">
                    <p>Nếu bạn không biết đọc gì hôm nay. Hãy để chúng tôi chọn cho bạn</p>
                </div>

                @{
                    var random = await boTruyenRepository.RandomAsync();
                    <div class="btn__regis" >
                        <a asp-action="CTBoTruyen" asp-route-id="@random.IdBo">Đọc ngẫu nhiên</a>
                    </div>
                    random = null;
                }
            </div>

        </div>
        <div class="main__random bg-random">
            <a asp-controller="Payment" asp-action="index" class="btn-pre"><i class="ri-vip-crown-line"></i>Tham gia</a>
        </div>
    </div>
</div>
<section class="new-update containers mt-3" id="update">
    <div class="update__container TruyenNew__Containter grids">
        <div class="top__content">
            <div class="title-infor">
                <span class="section__subtitle">Mới Cập Nhật</span>
                <p class="section__des">Cập nhật Cập nhật nhanh và chất lượng nhất các chương truyện</p>
            </div>
            <div class="btn-More">
                <a asp-area="" asp-controller="BoTruyen" asp-action="ListTruyenEarliest">Show More</a>
            </div>
        </div>
        <div class="container">
            <div class="row row-cols-6 justify-content-center">
                @{
                    var listtruyenNew = Model.Take(14);
                }
                @foreach (var botruyen in listtruyenNew)
                {
                    var EarliestChap = chapterRepository.GetChapterEarliestByIdAsync(botruyen.IdBo);
                    var time = EarliestChap != null ? chapterRepository.CalculateTimeAgo(EarliestChap.ThoiGian) : "... giờ trước";
                    var chapText = EarliestChap != null ? $"chap {EarliestChap.SttChap}" : "chap ...";
                    <div class="col-2 update-item">
                        <a asp-action="CTBoTruyen" asp-route-id="@botruyen.IdBo">
                            <figure class="position-relative">
                                @if (!string.IsNullOrEmpty(botruyen.AnhBia))
                                {
                                    <img src="@botruyen.AnhBia" alt="truyen Image" />
                                }
                                <figcaption>
                                    <h6 class="item-title"><a href="#">@botruyen.TenBo</a></h6>
                                    <a class="item-chapter" style="font-size: 13px;">
                                        <span class="chap" style="margin-right: 10px;">@chapText</span>
                                        <span class="time">@time</span>
                                    </a>
                                </figcaption>
                                @if (botruyen.TtPemium == true)
                                {
                                    <div class="item-vip">
                                        <img style="width:50px!important; height:20px!important; border-radius:0!important;" src="~/images/predark.png" />
                                    </div>
                                }
                            </figure>
                        </a>
                    </div>
                }
            </div>
        </div>
    </div>
</section>
<section class="new-update containers mt-3 mb-5" id="update">
    <div class="update__container TruyenNew__Containter grids">
        <div class="top__content">
            <div class="title-infor">
                <span class="section__subtitle">Loại Truyện Đề Cử</span>
                <p class="section__des"></p>
            </div>
        </div>
        <div class="container recommend__type">
            <div class="row row-cols-2">
                <a class="col">
                    <div class="col-item">
                        <img src="~/img/bg-4.jpg" />
                        <h5 class="recommend-content">
                            Manga
                        </h5>
                    </div>
                </a>
                <a class="col">
                    <div class="col-item">
                        <img src="~/img/bg-3.jpg" />
                        <h5 class="recommend-content">
                            Manwa
                        </h5>
                    </div>
                </a>
                <a class="col">
                    <div class="col-item">
                        <img src="~/img/bg-1.jpg" />
                        <h5 class="recommend-content">
                            Adventure
                        </h5>
                    </div>
                </a>
                <a class="col">
                    <div class="col-item">
                        <img src="~/img/bg-2.jpg" />
                        <h5 class="recommend-content">
                            Comedy
                        </h5>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>
<section class="new-update containers mt-3 " id="update">
    <div class=" update__container grids">
        <div class="top__content">
            <div class="title-infor">
                <span class="section__subtitle">Danh Sách truyện</span>
                <p class="section__des">Danh sách các truyện mới nhất cập nhật liên tục </p>
            </div>
            <div class="btn-More">
                <a asp-area="" asp-controller="BoTruyen" asp-action="ListTruyen">Show More</a>
            </div>
        </div>
        <div class="container">
            <div class="row row-cols-6  justify-content-center">
                @foreach (var botruyen in Model.Take(7))
                {
                    <div class="col-2 update-item">
                        <a asp-action="CTBoTruyen" asp-route-id="@botruyen.IdBo">
                            <figure class="position-relative">
                                @{
                                    var EarliestChap = chapterRepository.GetChapterEarliestByIdAsync(botruyen.IdBo);
                                    if (EarliestChap != null)
                                    {
                                        var time = chapterRepository.CalculateTimeAgo(EarliestChap.ThoiGian);
                                        if (!string.IsNullOrEmpty(botruyen.AnhBia))
                                        {
                                            <img src="@botruyen.AnhBia" alt="truyen Image" />
                                        }
                                        <figcaption>
                                            <h6 class="item-title"><a href="#">@botruyen.TenBo</a></h6>

                                            <a class="item-chapter" style="font-size: 13px;">
                                                <span class="chap" style="margin-right: 10px; ">chap @EarliestChap.SttChap</span>
                                                <span class="time">@time</span>
                                            </a>
                                        </figcaption>

                                    }
                                    else
                                    {
                                        if (!string.IsNullOrEmpty(botruyen.AnhBia))
                                        {
                                            <img src="@botruyen.AnhBia" alt="truyen Image" />
                                        }
                                        <figcaption>
                                            <h6 class="item-title"><a href="#">@botruyen.TenBo</a></h6>
                                            <a class="item-chapter" style="font-size: 13px;">
                                                <span class="chap" style="margin-right: 10px; ">chap ...</span>
                                                <span class="time">... giờ trước</span>
                                            </a>
                                        </figcaption>
                                    }
                                }
                                @if (botruyen.TtPemium == true)
                                {
                                    <div class="item-vip">
                                        <img style="width:50px!important; height:20px!important; border-radius:0!important;" src="~/images/predark.png" />
                                    </div>
                                }
                            </figure>
                        </a>
                    </div>
                }
            </div>
        </div>
    </div>
</section>
<section class="new-update TopRank__container containers mt-3" id="update">
    <div class="update__container grids">
        <div class="top__content">
            <div class="title-infor">
                <span class="section__subtitle">Top xếp hạng Hôm nay</span>
                <p class="section__des">Top 1 Luợt đọc hôm nay</p>
            </div>
        </div>
        <div class="containers">
            <div class=" justify-content-center w-100 position-relative">
                @{
                    var listRank = boTruyenRepository.GetAllAsyncByDay();
                    var item = Model.ElementAt(0);
                    <div class=" position-relative">
                        @if (!string.IsNullOrEmpty(item.AnhBanner))
                        {
                            <img src="@item.AnhBanner" alt="truyen Image" class="img-poster"/>
                            <div class="background-item rounded-3 w-100" style="z-index:0"></div>
                        }
                        @if(item.TtPemium == true)
                        {
                            <div class="position-absolute pre-poster">
                                <img src="/images/PreDark.png" alt="Premium Image"/>
                            </div>
                        }
                        <div class="position-absolute name-poster">
                            <h3>@item.TenBo</h3>
                            @{
                                int valueF = Convert.ToInt32(item.TkDanhgia);
                                if (valueF > 0)
                                {
                                    var tmp = 5 - valueF;
                                    for (int a = 0; a < valueF; a++)
                                    {
                                        <i class="ri-star-fill" style="color: #FAB818;"></i>
                                    }
                                    for (int b = 0; b < tmp; b++)
                                    {
                                        <i class="ri-star-fill"></i>
                                    }
                                }
                                else
                                {
                                    <i class="ri-star-fill"></i>
                                    <i class="ri-star-fill"></i>
                                    <i class="ri-star-fill"></i>
                                    <i class="ri-star-fill"></i>
                                    <i class="ri-star-fill"></i>
                                }
                            }
                            
                        </div>
                        <div class="position-absolute btn-poster">
                            <a asp-action="CTBoTruyen" asp-route-id="@item.IdBo" class="btn-poster-detail">Đọc ngay <i class="ri-arrow-right-s-fill"></i></a>
                        </div>
                        
                    </div>
                }           
            </div>
            
        </div>
    </div>
</section>
<section class="new-update containers mt-3" id="update">
    <div class="update__container grids">
        <div class="top__content">
            <div class="title-infor">
                <span class="section__subtitle">Loại truyện phổ biến</span>
                <p class="section__des"> </p>
            </div>
        </div>
        <div class="container">
            <div class="row w-100 position-relative">
                @{
                    foreach (var loai in ViewBag.LoaiTruyen)
                    {
                        <a asp-area="" asp-controller="BoTruyen" asp-action="ListTopic" asp-route-id="@loai.TenLoai" class="col-auto item-loai">
                            @loai.TenLoai
                        </a>
                    }
                }
            </div>
        </div>
    </div>
</section>
<section class="new-update containers mt-6" id="update">
    <div class="update__container grids">
        <div class="section-bottom container w-100">
            <img src="/images/yuzu.png" alt="cat Image" />
            <span>Bạn vẫn chưa biết đọc gì hôm nay<br />Hãy xem danh mục Trending của chúng tôi!</span>
            <a asp-area="" asp-controller="BoTruyen" asp-action="ListTruyen">View More</a>
        </div>
    </div>
</section>

<script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.js" integrity="sha512-HGOnQO9+SP1V92SrtZfjqxxtLmVzqZpjFFekvzZVWoiASSQgSr4cw9Kqd2+l8Llp4Gm0G8GIFJ4ddwZilcdb8A==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.js"></script>

<script type="text/javascript">

    // const CloseContent = document.querySelector(".content-main .content-close");
    // const Content = document.querySelector(".content-main");
    // CloseContent.onclick = () => {
    //     if (CloseContent.textContent == "Xem thêm") {
    //         Content.classList.toggle('active-content');
    //         CloseContent.textContent = "Thu gọn";
    //     }
    //     else if (CloseContent.textContent == "Thu gọn") {
    //         Content.classList.remove('active-content');
    //         CloseContent.textContent = "Xem thêm";
    //     }
    // }

    $('.autoplay').slick({
        slidesToShow: 7,
        slidesToScroll: 2,
        autoplay: true,
        autoplaySpeed: 2500,
        responsive: [
            {
                breakpoint: 450, // Breakpoint for devices with width <= 745px
                settings: {
                    slidesToShow: 2,
                    slidesToScroll: 1
                }
            },
            {
                breakpoint: 576, // Breakpoint for devices with width <= 340px
                settings: {
                    slidesToShow: 3,
                    slidesToScroll: 1
                }
            },
            {
                breakpoint: 767, // Breakpoint for devices with width <= 340px
                settings: {
                    slidesToShow: 3,
                    slidesToScroll: 1
                }
            },
            {
                breakpoint: 1064, // Breakpoint for devices with width <= 340px
                settings: {
                    slidesToShow: 4,
                    slidesToScroll: 2
                }
            },
            {
                breakpoint: 1280, // Breakpoint for devices with width <= 340px
                settings: {
                    slidesToShow: 5,
                    slidesToScroll: 2
                }
            }
        ]
    });
</script>