@model IEnumerable<ProjectMangaSmurf.Models.BoTruyen>
@using ProjectMangaSmurf.Repository
@inject IboTruyenRepository boTruyenRepository
@inject IChapterRepository chapterRepository

<!-- LINK BOOTSTRAP -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>


<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/remixicon/4.2.0/remixicon.css" integrity="sha512-OQDNdI5rpnZ0BRhhJc+btbbtnxaj+LdQFeh0V9/igiEPDiWE2fG+ZsXl0JEH+bjXKPJ3zcXqNyP4/F/NegVdZg==" crossorigin="anonymous" referrerpolicy="no-referrer" />

<link href="~/css/style.css" rel="stylesheet" />

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />


@* <style>
    .main-Banner {
        display: flex; /* Sử dụng flexbox */
        align-items: center; /* Căn giữa theo chiều dọc */
    }

        .main-Banner img {
            max-height: 450px; /* Giới hạn chiều cao */
            max-width: 100%; /* Giới hạn chiều rộng */
            width: auto; /* Đảm bảo tỷ lệ khung hình được giữ nguyên */
            height: auto; /* Đảm bảo tỷ lệ khung hình được giữ nguyên */
            margin: 0 auto; /* Canh giữa theo chiều ngang */
        }
</style> *@

<div class="main__top section">
    <div class="top__container containers" style="overflow:hidden;">
        <div class="top__content">
            <div>
                <span class="section__subtitle">Truyện Mới</span>
                <p class="section__des">Cập nhật những bộ truyện mới nhất trong năm 2024</p>
            </div>
        </div>
        <div class=" slick-list autoplay row col-6 w-100 d-flex justify-content-center">

            @foreach (var botruyen in Model)
            {
                
                <div class="col update-item" asp-action="CTBoTruyen" asp-route-id="botruyen.IdBo">
                    <a asp-action="CTBoTruyen" asp-route-id="@botruyen.IdBo">
                        <figure>
                            @if (!string.IsNullOrEmpty(botruyen.AnhBia))
                            {
                                <img src="@botruyen.AnhBia" alt="truyen Image" />
                            }
                            <figcaption>
                                <h6 class="item-title"><a href="#">@botruyen.TenBo</a></h6>
                            </figcaption>
                        </figure>
                    </a>
                </div>
            }
        </div>
    </div>
</div>
<div class="main__bottom containers grid">
    <section class="home" id="home">
        <div class="home__container w-100">
            <div id="carouselExampleAutoplaying" class="carousel slide home__carousel bg__carousel w-100" data-bs-ride="carousel">
                <div class="carousel-inner rounded-3 w-100" style="">
                    @{
                        int i = 0;
                        @foreach (var botruyen in Model)
                        {
                            if (i == 0)
                            {
                                <div class="carousel-item active w-100 main-Banner">
                                    @if (!string.IsNullOrEmpty(botruyen.AnhBanner))
                                    {
                                        <img src="@botruyen.AnhBanner" class="d-block w-100 rounded-3" alt="Anh banner" style="height: 450px!important; object-fit: cover;">
                                    }
                                    <div class="item-infor">
                                        <div class="item-content">
                                            <div class="content">
                                                <a href="#">@botruyen.TenBo</a>
                                            </div>
                                            <div class="item-des">
                                                <p>@botruyen.Mota</p>
                                            </div>
                                        </div>
                                        <div class=" btn__regis">
                                            <a asp-action="CTBoTruyen" asp-route-id="@botruyen.IdBo">Xem thông tin</a>
                                        </div>
                                    </div>
                                </div>
                            }
                            else
                            {
                                <div class="carousel-item w-100">
                                    @if (!string.IsNullOrEmpty(botruyen.AnhBanner))
                                    {
                                        <img src="@botruyen.AnhBanner" class="d-block w-100 rounded-3" alt="Anh banner" style="height: 450px; object-fit: cover;">
                                    }
                                    <div class="item-infor">
                                        <div class="item-content">
                                            <div class="content">
                                                <a href="#">@botruyen.TenBo</a>
                                            </div>
                                            <div class="item-des">
                                                <p>@botruyen.Mota</p>
                                            </div>
                                        </div>
                                        
                                        <div class=" btn__regis">
                                            <a asp-action="CTBoTruyen" asp-route-id="@botruyen.IdBo">Xem thông tin</a>
                                        </div>
                                    </div>
                                </div>

                            }
                            i++;
                        }
                    }
                </div>
                <div class="background-item rounded-3"></div>
                <button class="carousel-control-prev " type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev" style="width: 5%; z-index: 1000;">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next" style="width: 5%; z-index: 1000;">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                </button>
            </div>
        </div>
    </section>
    <div class="main__right">
        <div class="main__random bg">
            <div class="item-content">
                <div class="content">
                    <a href="#">Hôm nay đọc gì?</a>
                </div>
                <div class="horizontal"></div>
                <div class="item-des">
                    <p>Nếu bạn không biết đọc gì hôm nay. Hãy để chúng tôi chọn cho bạn</p>
                </div>

                @{
                    var random = await boTruyenRepository.RandomAsync();
                    <div class="btn__regis" >
                        <a asp-action="CTBoTruyen" asp-route-id="@random.IdBo">Đọc ngẫu nhiên</a>
                    </div>
                    random = null;
                }
                @* 
                <div class="background-img"></div> *@
            </div>

        </div>
        <div class="main__random bg-random">
            <a href="#" class="btn-pre"><i class="ri-vip-crown-line"></i> Tham gia</a>
        </div>
    </div>
</div>
<section class="new-update containers mt-3" id="update">
    <div class="update__container grids">
        <div class="top__content">
            <div class="title-infor">
                <span class="section__subtitle">Mới Cập Nhật</span>
                <p class="section__des">Cập nhật Cập nhật nhanh và chất lượng nhất các chương truyện</p>
            </div>
            <div class="btn-More">
                <a asp-area="" asp-controller="BoTruyen" asp-action="ListTruyenEarliest">Show More<i class="ri-arrow-right-s-fill"></i></a>
            </div>
        </div>
        <div class="container">
            <div class="row row-cols-6 justify-content-center">
                @foreach (var botruyen in Model)
                {
                    <div class="col-2 update-item">
                        <a asp-action="CTBoTruyen" asp-route-id="@botruyen.IdBo">
                            <figure class="position-relative">
                                @{
                                    var EarliestChap = chapterRepository.GetChapterEarliestByIdAsync(botruyen.IdBo);
                                    if (EarliestChap != null)
                                    {
                                        var time = chapterRepository.CalculateTimeAgo(EarliestChap.ThoiGian);
                                        if (!string.IsNullOrEmpty(botruyen.AnhBia))
                                        {
                                            <img src="@botruyen.AnhBia" alt="truyen Image" />
                                        }
                                        <figcaption >
                                            <h6 class="item-title"><a href="#">@botruyen.TenBo</a></h6>

                                            <a class="item-chapter" style="font-size: 13px;">
                                                <span class="chap" style="margin-right: 10px; ">chap @EarliestChap.SttChap</span>
                                                <span class="time">@time</span>
                                            </a>
                                        </figcaption>
                                        
                                    }
                                    else
                                    {
                                        if (!string.IsNullOrEmpty(botruyen.AnhBia))
                                        {
                                            <img src="@botruyen.AnhBia" alt="truyen Image" />
                                        }
                                        <figcaption>
                                            <h6 class="item-title"><a href="#">@botruyen.TenBo</a></h6>

                                            <a class="item-chapter" style="font-size: 13px;">
                                                <span class="chap" style="margin-right: 10px; ">chap ...</span>
                                                <span class="time">... giờ trước</span>
                                            </a>
                                        </figcaption>
                                    }
                                }
                                @if (botruyen.TtPemium == true)
                                {
                                    <div class="item-vip">
                                        <i class="fa-solid fa-crown"></i>
                                    </div>
                                }
                            </figure>
                        </a>
                    </div>
                }
            </div>
        </div>
    </div>
</section>
<section class="new-update containers mt-3" id="update">
    <div class="update__container grids">
        <div class="top__content">
            <div class="title-infor">
                <span class="section__subtitle">Danh Sách truyện</span>
                <p class="section__des">Danh sách các truyện mới nhất cập nhật liên tục </p>
            </div>
            <div class="btn-More">
                <a asp-area="" asp-controller="BoTruyen" asp-action="ListTruyen">Show More<i class="ri-arrow-right-s-fill"></i></a>
            </div>
        </div>
        <div class="container">
            <div class="row row-cols-6  justify-content-center">
                @foreach (var botruyen in Model)
                {
                    <div class="col-2 update-item">
                        <a asp-action="CTBoTruyen" asp-route-id="@botruyen.IdBo">
                            <figure>
                                @if (!string.IsNullOrEmpty(botruyen.AnhBia))
                                {
                                    <img src="@botruyen.AnhBia" alt="truyen Image" />
                                }
                                <figcaption>
                                    <h6 class="item-title"><a href="#">@botruyen.TenBo</a></h6>

                                    <a href="#" class="item-chapter" style="font-size: 13px;">
                                        <span class="chap" style="margin-right: 10px; ">chap ...</span>
                                        <span class="time">... giờ trước</span>
                                    </a>
                                </figcaption>
                            </figure>
                        </a>
                    </div>
                }
            </div>
        </div>
</section>
<section class="new-update containers mt-3" id="update">
    <div class="update__container grids">
        <div class="top__content">
            <div class="title-infor">
                <span class="section__subtitle">Top xếp hạng Hôm nay</span>
                <p class="section__des"> </p>
            </div>
        </div>
        <div class="container">
            <div class="row justify-content-center w-100 position-relative">
                @{
                    var listRank = boTruyenRepository.GetRankingAsync();
                    var item = Model.ElementAt(0);
                    <div class="col p-3 position-relative">
                        @if (!string.IsNullOrEmpty(item.AnhBanner))
                        {
                            <img src="@item.AnhBanner" alt="truyen Image" class="img-poster"/>
                        }
                        @if(item.TtPemium == true)
                        {
                            <div class="position-absolute pre-poster">
                                <img src="/images/PreDark.png" alt="Premium Image"/>
                            </div>
                        }
                        <div class="position-absolute name-poster">
                            <h3>@item.TenBo</h3>
                        </div>
                        <div class="position-absolute btn-poster">
                            <a asp-action="CTBoTruyen" asp-route-id="@item.IdBo" class="btn-poster-detail">Đọc ngay <i class="ri-arrow-right-s-fill"></i></a>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</section>
<section class="new-update containers mt-3" id="update">
    <div class="update__container grids">
        <div class="top__content">
            <div class="title-infor">
                <span class="section__subtitle">Loại truyện phổ biến</span>
                <p class="section__des"> </p>
            </div>
        </div>
        <div class="container">
            <div class="row w-100 position-relative">
                @{
                    foreach (var loai in ViewBag.LoaiTruyen)
                    {
                        <a asp-area="" asp-controller="BoTruyen" asp-action="ListTopic" asp-route-id="@loai.TenLoai" class="col-auto item-loai">
                            @loai.TenLoai
                        </a>
                    }
                }
            </div>
        </div>
    </div>
</section>

<section class="new-update containers mt-3" id="update">
    <div class="update__container grids">
        <div class="section-bottom container w-100 d-flex flex-column justify-content-center align-center">
            <img src="~/img/log-in-yuzu.png" />
            <span>Nếu bạn vẫn chưa biết đọc gì hôm nay</span>
            <span>hãy xem danh mục Trending cuả chúng tôi!</span>
            <a asp-area="" asp-controller="BoTruyen" asp-action="ListTruyen"></a>
        </div>
    </div>
</section>

<script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.js" integrity="sha512-HGOnQO9+SP1V92SrtZfjqxxtLmVzqZpjFFekvzZVWoiASSQgSr4cw9Kqd2+l8Llp4Gm0G8GIFJ4ddwZilcdb8A==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>


<script type="text/javascript">
    const CloseContent = document.querySelector(".content-main .content-close");
    const Content = document.querySelector(".content-main");
    CloseContent.onclick = () => {
        if (CloseContent.textContent == "Xem thêm") {
            Content.classList.toggle('active-content');
            CloseContent.textContent = "Thu gọn";
        }
        else if (CloseContent.textContent == "Thu gọn") {
            Content.classList.remove('active-content');
            CloseContent.textContent = "Xem thêm";
        }
    }
</script>
<script type="text/javascript">
    $('.autoplay').slick({
        slidesToShow: 7,
        slidesToScroll: 3,
        autoplay: true,
        autoplaySpeed: 2500,
    });
</script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.js"></script>