@model IEnumerable<ProjectMangaSmurf.Models.BoTruyen>
@using ProjectMangaSmurf.Repository
@inject IboTruyenRepository boTruyenRepository
@inject IChapterRepository chapterRepository

<link href="~/css/styleRank.css" rel="stylesheet" />
<div class=" main__top rank section">
    <div class="top__container rank__container containers">
        <div class="top__content">
            <div>
                <h2 class="section__subtitle">Bảng Xếp Hạng</h2>
                <p class="section__des">Xếp hạng các bộ truyện theo xu hướng lượt xem, độ ưa thích từ đọc giả và các mốc thời gian</p>
            </div>
        </div>
        <div class="rank-top ">
            <ul class="rank__type " id="rank__type">
                @if(ViewBag.value == 1)
                {
                    
                }
                <li class="nav__item">
                    <a asp-area="" asp-controller="BoTruyen" asp-action="Rankings" asp-route-id="1" class="nav__link active-link">LƯỢT ĐỌC</a>
                </li>
                <li class="nav__item  ">
                    <a asp-area="" asp-controller="BoTruyen" asp-action="Rankings" asp-route-id="2" class="nav__link active-link">THEO DÕI</a>
                </li>
                <li class="nav__item">
                    <a asp-area="" asp-controller="BoTruyen" asp-action="Rankings" asp-route-id="3" class="nav__link active-link">ĐÁNH GIÁ</a>
                </li>
                <li class="nav__item">
                    <a asp-area="" asp-controller="BoTruyen" asp-action="Rankings" asp-route-id="4" class="nav__link active-link">HÔM NAY</a>
                </li>
                <li class="nav__item">
                    <a asp-area="" asp-controller="BoTruyen" asp-action="Rankings" asp-route-id="5" class="nav__link active-link">THÁNG NÀY</a>
                </li>
            </ul>
        </div>
        <div class="top__content rank-content">
            <span class="section__title">BẢNG XẾP HẠNG<span class="rank-content-type"> THEO LƯỢT THEO DÕI</span></span>
        </div>
        <div class="rank__infor ">
            <ul class="rank__list">
                @{
                    var item = Model.ElementAt(0);
                    var list = boTruyenRepository.GetListLoaiAsync(item.IdBo);
                    string img = item.AnhBanner;
                    int count = 1;
                    string loaitruyen = string.Join(", ", list);
                    <li id="firstRank" class="rank-item">
                        <div class="bg-img" style="background-image: url('@img');"></div>
                        <span class="item-number">01</span>
                        <div class="item-content">
                            @if (!string.IsNullOrEmpty(item.AnhBia))
                            {
                                <a asp-action="CTBoTruyen" asp-route-id="@item.IdBo"><img loading="lazy" src="@item.AnhBia" alt="truyen Image" class="rank-img" /></a>
                            }

                            <div class="item-infor firstRank-infor" style="padding:0 20px;">
                                <a asp-action="CTBoTruyen" asp-route-id="@item.IdBo">
                                    <h3 class="item-title">@item.TenBo</h3>
                                </a>
                                <h6 class="item-type"><span style="color:#FAB818; font-size:20px; font-weight:600;">@item.TongLuotXem</span> Lượt xem</h6>
                                <div>
                                    <p class="item-type" style="margin-bottom: .5rem;">@loaitruyen</p>
                                    @{
                                        int valueF = Convert.ToInt32(item.TkDanhgia);
                                        if (valueF > 0)
                                        {
                                            var tmp = 5 - valueF;
                                            for (int a = 0; a < valueF; a++)
                                            {
                                                <i class="ri-star-fill" style="color: #FAB818;"></i>
                                            }
                                            for (int b = 0; b < tmp; b++)
                                            {
                                                <i class="ri-star-fill"></i>
                                            }
                                        }
                                        else
                                        {
                                            <i class="ri-star-fill"></i>
                                            <i class="ri-star-fill"></i>
                                            <i class="ri-star-fill"></i>
                                            <i class="ri-star-fill"></i>
                                            <i class="ri-star-fill"></i>
                                        }
                                    }
                                </div>
                            </div>
                        </div>
                        <div class="background-item rounded-3"></div>
                    </li>

                    
                    @foreach(var i in Model.Skip(1))
                    {
                        count = count + 1;
                        var listtop = boTruyenRepository.GetListLoaiAsync(i.IdBo);
                        string loaiTop = string.Join(", ", listtop);
                        <li class="rank-item">
                            <span class="item-number" style="color: #FE3200;">@count</span>
                            <div class="item-content">
                                <a asp-action="CTBoTruyen" asp-route-id="@i.IdBo">
                                    <img loading="lazy" src="@i.AnhBia" alt="" class="rank-img">
                                </a>
                                <div class="item-infor" style="padding:10px 20px;">
                                    <h3 class="item-title">@i.TenBo</h3>
                                    <h6 class="item-type"><span style="color:#fff;">@i.TongLuotXem</span> Lượt xem</h6>
                                    <p class="item-type" style="margin-bottom: .5rem;">@loaiTop</p>
                                </div>
                            </div>
                            <div class="rank__item-infor ml-auto">
                                <div class="rating">
                                    @{
                                        int value = Convert.ToInt32(i.TkDanhgia);
                                        if (value > 0)
                                        {
                                            var tmp = 5 - value;
                                            for(int a = 0; a < value ; a++)
                                            {
                                                <i class="ri-star-fill" style="color: #FAB818;"></i>
                                            }
                                            for(int b = 0; b < tmp; b++)
                                            {
                                                <i class="ri-star-fill"></i>
                                            }
                                        }
                                        else
                                        {
                                            <i class="ri-star-fill"></i>
                                            <i class="ri-star-fill"></i>
                                            <i class="ri-star-fill"></i>
                                            <i class="ri-star-fill"></i>
                                            <i class="ri-star-fill"></i>
                                        }
                                    }
                                </div>
                                @{
                                    var EarliestChap = chapterRepository.GetChapterEarliestByIdAsync(i.IdBo);
                                    if (EarliestChap != null)
                                    {
                                        var time = chapterRepository.CalculateTimeAgo(EarliestChap.ThoiGian);
                                        <div class="d-flex flex-row gap-4">
                                            <span class="chapter">Chap @EarliestChap.SttChap</span>
                                            <span class="chapter">@time</span>
                                        </div>
                                        
                                    }
                                    else
                                    {
                                        <div class="d-flex flex-row gap-4">
                                            <span class="chapter">Chap...</span>
                                            <span class="chapter">....time </span>
                                        </div>
                                    }
                                }
                                
                                <span>@i.TkTheodoi Lượt theo dõi</span>
                                @*<i class="ri-heart-3-fill"></i>*@
                            </div>
                        </li>
                    }
                }
            </ul>
        </div>
    </div>
</div>

<script defer>
    document.addEventListener('DOMContentLoaded', function () {
        var activeIndex = @ViewBag.value;
        var listItems = document.querySelectorAll('#rank__type .nav__item');
        if (activeIndex >= 1 && activeIndex <= listItems.length) {
            listItems[activeIndex - 1].classList.add('active-rank');
        }
    });
</script>
