@model IEnumerable<ProjectMangaSmurf.Models.BoTruyen>
@using ProjectMangaSmurf.Repository
@inject IboTruyenRepository boTruyenRepository
@inject IChapterRepository chapterRepository

<link href="~/css/styleList.css" rel="stylesheet" />

<div class=" main__top section">
    <div class=" list__container containers list">
        <div class="top__content">
            <span class="section__subtitle">DANH SÁCH TRUYỆN HOT</span>
            <div class="controls">
                <div class="dropdown">
                    <button class="btn" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="ri-menu-2-fill"></i> STATUS
                    </button>
                    <ul class="dropdown-menu dropdown-menu-end">
                        <li><a class="dropdown-item" asp-area="" asp-controller="BoTruyen" asp-action="ListTruyen">Tất cả</a></li>
                        <li><a class="dropdown-item" asp-area="" asp-controller="BoTruyen" asp-action="ListTruyenTT" asp-route-id="1">Hoàn thành</a></li>
                        <li><a class="dropdown-item" asp-area="" asp-controller="BoTruyen" asp-action="ListTruyenTT" asp-route-id="0">Đang tiến hành</a></li>
                    </ul>
                </div>
                <div class="dropdown">
                    <button class="btn" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="ri-equalizer-2-line"></i> FILTER
                    </button>
                    <ul class="dropdown-menu dropdown-menu-end" style="max-height:150px;">
                        <li><a class="dropdown-item" href="#">Theo thời gian</a></li>
                        <li><a class="dropdown-item" href="#">View</a></li>
                        <li><a class="dropdown-item" href="#">Đánh giá</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="container w-100">

            <div class="row justify-content-center">
                @foreach (var botruyen in Model)
                {
                    <div class="item col-2 update-item">
                        <a asp-action="CTBoTruyen" asp-route-id="@botruyen.IdBo">
                            <figure class="position-relative">
                                @{
                                    var EarliestChap = chapterRepository.GetChapterEarliestByIdAsync(botruyen.IdBo);
                                    if (EarliestChap != null)
                                    {
                                        var time = chapterRepository.CalculateTimeAgo(EarliestChap.ThoiGian);
                                        if (!string.IsNullOrEmpty(botruyen.AnhBia))
                                        {
                                            <span class="hot-icon">HOT</span>
                                            <img loading="lazy" src="@botruyen.AnhBia" alt="truyen Image" />
                                        }
                                        <figcaption>
                                            <h6 class="item-title"><a href="#">@botruyen.TenBo</a></h6>

                                            <a class="item-chapter" style="font-size: 13px;">
                                                <span class="chap" style="margin-right: 10px; ">chap @EarliestChap.SttChap</span>
                                                <span class="time">@time</span>
                                            </a>
                                        </figcaption>
                                    }
                                    else
                                    {
                                        if (!string.IsNullOrEmpty(botruyen.AnhBia))
                                        {
                                            <span class="hot-icon">HOT</span>
                                            <img loading="lazy" src="@botruyen.AnhBia" alt="truyen Image" />
                                        }
                                        <figcaption>
                                            <h6 class="item-title"><a href="#">@botruyen.TenBo</a></h6>

                                            <a class="item-chapter" style="font-size: 13px;">
                                                <span class="chap" style="margin-right: 10px; ">chap ...</span>
                                                <span class="time">... giờ trước</span>
                                            </a>
                                        </figcaption>
                                    }
                                    if (botruyen.TtPemium == true)
                                    {
                                        <div class="item-vip">
                                            <i class="fa-solid fa-crown"></i>
                                        </div>
                                    }
                                }
                            </figure>
                        </a>
                    </div>
                }
            </div>
        </div>
        <ul class="listPage">
        </ul>
    </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.js" integrity="sha512-HGOnQO9+SP1V92SrtZfjqxxtLmVzqZpjFFekvzZVWoiASSQgSr4cw9Kqd2+l8Llp4Gm0G8GIFJ4ddwZilcdb8A==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
@* <script src="/js/script.js"></script> *@
<script src="/js/ScriptShowList.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.js"></script>