@using ProjectMangaSmurf
@using Microsoft.AspNetCore.Http
@using ProjectMangaSmurf.Repository
@inject IHttpContextAccessor HttpContextAccessor
@inject IboTruyenRepository boTruyenRepository


<!DOCTYPE html>
<html lang="en">
<head>
    
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] MangaSmurf</title>

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    
    
    <link rel="icon" type="image/png" href="~/images/icon logo.png">
    <!-- LINK BOOTSTRAP -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>

    <!-- LINK REMIXICON -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/remixicon/4.2.0/remixicon.css">

    <!-- LINK JQUERY -->
    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>

    <!-- LINK SLICK -->
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.css" />
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick-theme.css" />


    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script>
        // Kiểm tra ngay lập tức theme hiện tại và áp dụng nó
        if (localStorage.getItem('selected-theme') === 'dark') {
            document.documentElement.classList.add('dark-theme');
        }
    </script>
    @* <link href="~/css/stylelist.css" rel="stylesheet" /> *@
    <link rel="stylesheet" href="~/css/style.css" asp-append-version="true" />
</head>


    <style>
        .nav__item .dropdown:hover .dropdown-menu {
            display: block;
            margin-top: 0; /* remove the gap so it doesn't close */
        }
    </style>

<body>
    <header class="header" id="header">
        <div class="nav__side">
            <nav class="containers nav">
                <a class="nav__logo" asp-area="" asp-controller="BoTruyen" asp-action="Index">
                    <img class="nav__logo-img" src="/images/logo1.png" alt="logo website">
                </a>
                <div class="nav__menu nav__menu-list" id="nav-menu">
                    <div class="search">
                        <div class="icon"><i class="ri-search-2-line"></i></div>
                        <div class="input">
                            <input type="text" placeholder="Tìm Kiếm ..." id="search-truyen" class="searchInput">
                        </div>
                        <span class="clear"><i class="ri-close-large-line"></i></span>
                    </div>
                    <div class="results" id="search-results">
                        <ul id="results">
                        </ul>
                    </div>
                    
                    <div class="nav__buttons">
                        <i class="ri-moon-fill change-theme" id="theme-button"></i>
                    </div>
                    <div class="nav__login">
                        @{
                            var kh = HttpContextAccessor.HttpContext.Session.GetString("TK");
                                @if (kh!= null)
                            {
                                
                                    <div class=" btn__login dropdown" style="margin-left:1rem; color:#fff;">
                                        <style>
                                            .dropdown-menu i {
                                                margin-right: .5rem;
                                            }
                                        </style>
                                        <button class="btn dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false" style="color:#fff;">
                                            @kh
                                        </button>
                                        <ul class="dropdown-menu dropdown-menu-end" style="max-width:120px; max-height:130px;">
                                            <li><a asp-area="" asp-controller="KhachHang" asp-action="Account" class="dropdown-item text-start" style="padding:.5rem!important;"><i class="fa-solid fa-user"></i> Account</a></li>
                                            <li><a asp-area="" asp-controller="KhachHang" asp-action="History" asp-route-id="@kh" class="dropdown-item text-start" style="padding:.5rem!important;" ><i class="fa-solid fa-clock-rotate-left"></i> Histories</a></li>
                                            <li><a asp-area="" asp-controller="KhachHang" asp-action="Logout" class="dropdown-item text-start" style="padding:.5rem!important;"><i style="color: #FE0000;" class="fa-solid fa-right-from-bracket"></i> Logout</a></li>
                                        </ul>
                                    </div>
                            }
                            else
                            {
                                    <div class="btn__regis mr-2">
                                        <a asp-area="" asp-controller="KhachHang" asp-action="Register">Đăng ký</a>
                                    </div>
                                    <div class=" btn__login">
                                        <a asp-area="" asp-controller="KhachHang" asp-action="Login">Đăng nhập</a>
                                    </div>
                            }
                        }
                    </div>
                </div>

            </nav>
        </div>
        <div class="nav__content">
            <nav class="containers nav__content">
                <input type="checkbox" id="sidebar-active">
                <label for="sidebar-active" class="open-sidebar-button">
                    <svg xmlns="http://www.w3.org/2000/svg" height="32" viewBox="0 -960 960 960" width="32"><path d="M120-240v-80h720v80H120Zm0-200v-80h720v80H120Zm0-200v-80h720v80H120Z" /></svg>
                </label>
                <label id="overlay" for="sidebar-active"></label>
                <div class="links-container grids">
                    <label for="sidebar-active" class="close-sidebar-button">
                        <svg xmlns="http://www.w3.org/2000/svg" height="32" viewBox="0 -960 960 960" width="32"><path d="m256-200-56-56 224-224-224-224 56-56 224 224 224-224 56 56-224 224 224 224-56 56-224-224-224 224Z" /></svg>
                    </label>
                    <a class="nav__item nav__link active-link" >
                        <div class="dropdown">
                            <a class="nav__link dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="cursor:pointer;">Thể loại truyện</a>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                <div class="row">
                                    <div class="col-4">
                                        <a class="dropdown-item item-main" asp-area="" asp-controller="BoTruyen" asp-action="ListTruyen">Tất cả</a>
                                        <a class="dropdown-item" asp-area="" asp-controller="BoTruyen" asp-action="ListTopic" asp-route-id="Xuyên không">Xuyên không</a>
                                        <a class="dropdown-item" asp-area="" asp-controller="BoTruyen" asp-action="ListTopic" asp-route-id="Adventure">Adventure</a>
                                        <a class="dropdown-item" asp-area="" asp-controller="BoTruyen" asp-action="ListTopic" asp-route-id="One short">One short</a>
                                        <a class="dropdown-item" asp-area="" asp-controller="BoTruyen" asp-action="ListTopic" asp-route-id="Sports">Sports</a>
                                        <a class="dropdown-item" asp-area="" asp-controller="BoTruyen" asp-action="ListTopic" asp-route-id="Truyện màu">Truyện màu</a>
                                    </div>
                                    <div class="col-4">
                                        <a class="dropdown-item item-main" href="#">Theo Cảm xúc</a>
                                        <a class="dropdown-item" asp-area="" asp-controller="BoTruyen" asp-action="ListTopic" asp-route-id="Nhẹ nhàng">Nhẹ nhàng</a>
                                        <a class="dropdown-item" asp-area="" asp-controller="BoTruyen" asp-action="ListTopic" asp-route-id="Kinh dị">Kinh dị</a>
                                        <a class="dropdown-item" asp-area="" asp-controller="BoTruyen" asp-action="ListTopic" asp-route-id="Lãng mạng">Lãng mạng</a>
                                        <a class="dropdown-item" asp-area="" asp-controller="BoTruyen" asp-action="ListTopic" asp-route-id="Action">Action</a>
                                        <a class="dropdown-item" asp-area="" asp-controller="BoTruyen" asp-action="ListTopic" asp-route-id="Comedy">Comedy</a>
                                    </div>
                                    <div class="col-4">
                                        <a class="dropdown-item item-main" href="#">Theo Khu Vực</a>
                                        <a class="dropdown-item" asp-area="" asp-controller="BoTruyen" asp-action="ListTopic" asp-route-id="Manwa">Manwa</a>
                                        <a class="dropdown-item" asp-area="" asp-controller="BoTruyen" asp-action="ListTopic" asp-route-id="Manhua">Manhua</a>
                                        <a class="dropdown-item" asp-area="" asp-controller="BoTruyen" asp-action="ListTopic" asp-route-id="Manga">Manga</a>
                                        <a class="dropdown-item" asp-area="" asp-controller="BoTruyen" asp-action="ListTopic" asp-route-id="Comic">Comic</a>
                                        <a class="dropdown-item" asp-area="" asp-controller="BoTruyen" asp-action="ListTopic" asp-route-id="Webtoon">Webtoon</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                    <a asp-area="" asp-controller="BoTruyen" asp-action="Trending" class="nav__link active-link">Trending</a>
                    @{
                        if(kh!= null)
                        {
                                <a asp-area="" asp-controller="KhachHang" asp-action="Following" asp-route-id="@kh" class="nav__item nav__link active-link">Theo dõi</a>
                        }
                        else{
                                <a id="follow" class="nav__item nav__link active-link">Theo dõi</a>
                                <script>
                                    document.getElementById('follow').addEventListener('click', function () {
                                        var userResponse = confirm("Bạn cần đăng nhập để xem danh sách theo dõi. Bạn có muốn đăng nhập ngay?");
                                        if (userResponse) {
                                            window.location.href = '@Url.Action("Login", "KhachHang")';
                                        }
                                    });
                                </script>
                        }
                    }
                    @{
                        if (kh != null)
                        {
                                <a asp-area="" asp-controller="KhachHang" asp-action="History" asp-route-id="@kh" class="nav__item nav__link active-link">Lịch sử</a>
                        }
                        else
                        {
                                <a id="history" class="nav__item nav__link active-link">Lịch sử</a>
                                <script>
                                    document.getElementById('history').addEventListener('click', function () {
                                        var userResponse = confirm("Bạn cần đăng nhập để xem lịch sử đọc. Bạn có muốn đăng nhập ngay?");
                                        if (userResponse) {
                                            window.location.href = '@Url.Action("Login", "KhachHang")';
                                        }
                                    });
                                </script>
                        }
                    }
                    <a class="nav__item nav__link active-link" asp-area="" asp-controller="BoTruyen" asp-action="Rankings" asp-route-id="1">Xếp hạng</a>
                    <a href="#home" class="nav__item nav__link active-link">Tìm truyện</a>
                    <a class="nav__item nav__link active-link" asp-area="" asp-controller="BoTruyen" asp-action="ListTruyen">Mới cập nhật</a>
                    
                    
                    <div class="nav__login">
                    <div class="btn__regis mr-2">
                    <a>Đăng ký</a>
                    </div>
                    <div class=" btn__login">
                    <a href="#">Đăng nhập</a>
                    </div>
                    </div>
                </div>
            </nav>
        </div>
    </header>

    
    <main role="main" class="pb-3">
        
        @* <div id="global-loader">
            <div class="whirly-loader"></div>
        </div> *@
        @RenderBody()
        <a onclick="scrollToTop()" id="scrollToTopBtn" title="Go to top"><i class="ri-arrow-up-line"></i></i></a>
    </main>
    <footer class="footer" style="position:relative; padding-block: 1rem; line-height: 20px; padding: 2rem 0;">
        <partial name="_Footer"/>
    </footer>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.js" integrity="sha512-HGOnQO9+SP1V92SrtZfjqxxtLmVzqZpjFFekvzZVWoiASSQgSr4cw9Kqd2+l8Llp4Gm0G8GIFJ4ddwZilcdb8A==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="~/js/scrollreveal.min.js"></script>

    

    <script>

        setTimeout(function () {
            $('#global-loader');
            setTimeout(function () {
                $("#global-loader").fadeOut("slow");
            }, 100);
        }, 500);

        /*=============== DARK LIGHT THEME ===============*/
        const themeButton = document.getElementById('theme-button');
        const darkTheme = 'dark-theme';
        const iconTheme = 'ri-sun-cloudy-fill';

        const selectedTheme = localStorage.getItem('selected-theme');
        const selectedIcon = localStorage.getItem('selected-icon');

        const getCurrentTheme = () => document.body.classList.contains(darkTheme) ? 'dark' : 'dark';
        const getCurrentIcon = () => themeButton.classList.contains(iconTheme) ? 'ri-sun-cloudy-fill' : 'ri-moon-fill';

        if (selectedTheme) {
            document.body.classList[selectedTheme === 'dark' ? 'add' : 'remove'](darkTheme)
            themeButton.classList[selectedIcon === 'ri-moon-fill' ? 'add' : 'remove'](iconTheme)
        }
        // themeButton.addEventListener('click', () => {
        //     document.body.classList.toggle(darkTheme);
        //     themeButton.classList.toggle(iconTheme);

        //     localStorage.setItem('selected-theme', getCurrentTheme());
        //     localStorage.setItem('selected-icon', getCurrentIcon());
        // })
        themeButton.addEventListener('click', () => {
            requestAnimationFrame(() => {
                document.body.classList.toggle(darkTheme);
                themeButton.classList.toggle(iconTheme);
            });

            localStorage.setItem('selected-theme', getCurrentTheme());
            localStorage.setItem('selected-icon', getCurrentIcon());
        });

        /* ======================== cuộn lên đầu trang ================================ */
        
        var scrollToTopButton = document.getElementById("scrollToTopBtn");

        window.onscroll = function () { scrollFunction() };

        function scrollFunction() {
            if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
                scrollToTopButton.style.display = "block";
            } else {
                scrollToTopButton.style.display = "none";
            }
        }
        function scrollToTop() {
            var currentPosition = document.documentElement.scrollTop || document.body.scrollTop;

            if (currentPosition > 0) {
                window.requestAnimationFrame(scrollToTop);
                window.scrollTo(0, currentPosition - currentPosition / 7); 
            }
        }

        /*======================= ANIMATION SEARCH BAR ==========================*/
        const icon = document.querySelector(".icon");
        const search = document.querySelector(".search");
        const results = document.querySelector(".results");
        icon.onclick = () => {
            search.classList.toggle('active');
            results.classList.toggle('active');
        }
        const clear = document.querySelector(".clear");
        const valueTruyen = document.getElementById('search-truyen');
        clear.onclick = () => {
            if (valueTruyen.value == '') {
                search.classList.remove('active');

                if (valueTruyen.value === '') {
                    clearSearchResults();
                }
            }
            else {
                valueTruyen.value = '';
            }
        }


        function clearSearchResults() {
            $('#results').empty();
        }
    </script>

    <script src="~/js/script.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <script>
        $(document).ready(function () {
            $('.searchInput').on('input', function () {
                var searchQuery = $(this).val();
                if (searchQuery === '') {
                    clearSearchResults();
                }
                if (searchQuery.length > 0) {
                    $.ajax({
                        url: '@Url.Action("SearchBoTruyen", "BoTruyen")',
                        type: 'GET',
                        data: { query: searchQuery },
                        success: function (data) {
                            displaySearchResults(data);
                        },
                        error: function (error) {
                            console.error('Error:', error);
                        }
                    });
                }
            });
            
            
            function displaySearchResults(results) {
                var resultsContainer = $('#results');
                resultsContainer.empty();

                results.forEach(function (result) {
                    resultsContainer.append(
                        `<li>
                            <a href="/BoTruyen/CTBoTruyen/${result.id}" class="item-search">
                                <img src="${result.img}" />
                                <div>
                                    <h4>${result.tenBo}</h4>
                                    <span>${result.view} View</span>
                                </div>
                            </a>
                        </li>`
                    );
                });
            }

            function clearSearchResults() {
                $('#results').empty();
            }
        });
    </script>
</body>
    @RenderSection("Scripts", required: false)
</html>

