@model ProjectMangaSmurf.Models.KhachHang
@using ProjectMangaSmurf.Repository
@inject IboTruyenRepository boTruyenRepository
@inject IKhachHangRepository khachhangrepository
@using Microsoft.AspNetCore.Http
@inject Microsoft.AspNetCore.Antiforgery.IAntiforgery Xsrf
@inject IHttpContextAccessor HttpContextAccessor



<link href="~/css/styleAccount.css" rel="stylesheet" />
@{
    if (ViewBag.info != null)
    {
        var info = ViewBag.info;
        if (info == "Cập nhật mật khẩu thành công")
        {
            <script>
                document.addEventListener("DOMContentLoaded", function (event) {
                    Swal.fire({
                        title: "SUCCESS!",
                        text: "@Html.Raw(ViewBag.info)",
                        icon: "success",
                        timer: 2500,
                        showConfirmButton: false,
                    });
                });
            </script>
        }
        else
        {
            <script>
                document.addEventListener("DOMContentLoaded", function (event) {
                    Swal.fire({
                        icon: "error",
                        title: "Oops...",
                        text: "@Html.Raw(info)",
                    });
                });
            </script>
        }
    }
}

<div class="containers sections flex-grow-1 container-py my-3 vh-100">
    <div class="card overflow-hidden h-100">
        <div class="row g-0">
            <div class="col-md-3">
                <div class="list-group list-group-flush account-settings-links">
                    <a class="list-group-item list-group-item-action active" data-bs-toggle="list" href="#account-general"><i class="ri-information-line"></i> Thông Tin</a>
                    <a class="list-group-item list-group-item-action" data-bs-toggle="list" href="#account-change-password"><i class="fas fa-lock"></i> Mật khẩu & Bảo mật</a>
                    <a class="list-group-item list-group-item-action" data-bs-toggle="list" href="#account-connections"><i class="fas fa-plug"></i> Kết nối</a>
                </div>
            </div>
            <div class="col-md-9">
                <div class="p-4">
                    <h4 class="fw-bold mb-4">Cài đặt tài khoản</h4>
                    <div class="tab-content">
                        <div class="tab-pane fade show active" id="account-general">
                            <form asp-action="UpdateInfor" method="post">
                                <hr class="border-light m-0">
                                <div class="card-body">
                                    @{
                                        if(ViewBag.user != null)
                                        {
                                            var user = ViewBag.user as User;

                                            <div class="mb-3">
                                                <label class="form-label">Username</label>
                                                <input name="Taikhoan" type="text" class="form-control" maxlength="30" value="@user.UserName" readonly>
                                            </div>
                                            <div class="mb-3">
                                                <label class="form-label">FullName</label>
                                                <input name="TenKh" type="text" class="form-control" value="@user.FullName" maxlength="30" placeholder="Nguyen Van ....">
                                            </div>
                                            <div class="mb-3">
                                                <label class="form-label">Phone</label>
                                                <input name="Sdt" type="text" class="form-control" value="@user.Phone" maxlength="10" placeholder="+84 ***">
                                            </div>
                                            <div class="mb-3">
                                                <label class="form-label">Trạng thái tài khoản</label>
                                                @if (Model.ActivePremium == true)
                                                {
                                                    <input type="text" class="form-control" value="Thành viên Premium" readonly >
                                                }
                                                else
                                                {
                                                    <input type="text" class="form-control" value="Thành viên thông thường" readonly >
                                                }
                                            </div>
                                            <div class="mb-3">
                                                <label class="form-label">Birthday</label>
                                                <input name="birthdate" type="date" class="form-control" value="@user.Birth" placeholder="dd/mm/yyyy">
                                            </div>
                                                <div class="mb-3">
                                                @{
                                                    string email = user.Email;
                                                    int indexOfAt = email.IndexOf('@');
                                                    if (indexOfAt > 2)
                                                    {
                                                        string maskedEmail = email.Substring(0, 2)
                                                        + new string('*', indexOfAt - 2)
                                                        + email.Substring(indexOfAt);
                                                        <label class="form-label">Email</label>
                                                        <input name="Email" type="text" class="form-control" value="@maskedEmail" placeholder="Example@gmail.com" readonly>
                                                        <div class="alert alert-warning mt-3">
                                                            Thông tin của bạn sẽ được ghi nhận khi Save Change<br>
                                                            <a href="javascript:void(0)">Resend confirmation</a>
                                                        </div>
                                                    }
                                                    
                                                }
                                            </div>
                                            <div class="d-flex justify-content-end mt-3">
                                                <button type="submit" class="btn btn-primary">Save changes</button>
                                                <button type="button" class="btn btn-outline-secondary ms-2">Cancel</button>
                                            </div>
                                        }
                                    }
                                </div>
                            </form>
                        </div>
                        <div class="tab-pane fade" id="account-change-password">
                            <form asp-action="UpdatePass" method="post" autocomplete="off">
                                <div class="card-body">
                                    <div class="mb-3">
                                        <label class="form-label">Email</label>
                                        <input name="Email" type="email" class="form-control" required autocomplete="new-password">
                                    </div>
                                    @{
                                        var gg = Model?.GoogleAccount;
                                    }
                                    @if (gg == null)
                                    {
                                        <div class="mb-3">
                                            <label class="form-label">Current password</label>
                                            <input name="currentPassword" type="password" class="form-control" required autocomplete="new-password">
                                        </div>
                                    }
                                    <div class="mb-3">
                                        <label class="form-label">New password</label>
                                        <input name="newPassword" type="password" class="form-control" required autocomplete="new-password">
                                    </div>
                                    <div class="mb-3">
                                        <label class="form-label">Repeat new password</label>
                                        <input name="confirmNewPassword" type="password" class="form-control" required>
                                    </div>
                                    <div asp-validation-summary="All" class="text-danger"></div>
                                    <div class="d-flex justify-content-end mt-3">
                                        <button type="submit" class="btn btn-primary">Save changes</button>
                                        <button type="button" class="btn btn-outline-secondary ms-2">Cancel</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="tab-pane fade" id="account-connections">
                            <form asp-action="UpdateConnect" method="post">
                                <div class="card-body">
                                    <h5 class="mb-2">
                                        <a href="javascript:void(0)" class="float-end text-muted text-tiny"><i class="ion ion-md-close"></i> Remove</a>
                                        <i class="fab fa-google text-google"></i>
                                        Tài khoản hiện tại liên kết với google
                                    </h5>
                                    @{
                                        var google = Model?.GoogleAccount;
                                    }
                                    @if (google != null)
                                    {
                                        <div>@Model.GoogleAccount</div>
                                    }
                                </div>
                                <div class="card-body">
                                    <button asp-area="" asp-controller="KhachHang" asp-action="LoginGoogle" type="button" class="btn btn-danger">Connect to <strong>Google</strong><i class="fab fa-google"></i></button>
                                    <button type="button" class="btn btn-primary">Connect to <strong>Facebook</strong><i class="fab fa-facebook-f"></i></button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


