@model IEnumerable<ProjectMangaSmurf.Models.CtBoTruyen>
@using ProjectMangaSmurf.Repository
@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor
@inject IboTruyenRepository boTruyenRepository
@inject IChapterRepository chapterRepository
@inject IKhachHangRepository khachhangrepository

<link href="~/css/stylelist.css" rel="stylesheet" />
<style>
    .unfollow{
        position:absolute;
        top:0;
        right:0;
        background-color: var(--containers-color-alt);
        color:#fff;
        padding:.2rem .6rem;
        border-bottom-left-radius:5px;
    }
</style>

<div class=" main__top section">
    <div class=" list__container containers list">
        <div class="top__content" style="display:flex; width:100%; justify-content:center; align-items:center; text-align:center; padding:2rem 0;">
            <h2 class="section__subtitle"><i class="fa-solid fa-bookmark" style="font-size:30px; padding-right:1rem;"></i>TRUYỆN THEO DÕI</h2>
        </div>
        <div class="container w-100">
            <div class="row justify-content-center">

                @if (Model.Count() > 0)
                {
                    @foreach (var ct in Model)
                    {
                        var botruyen = await boTruyenRepository.GetByIdAsync(ct.IbBo);
                        if (botruyen != null)
                        {
                            <div class="item col-2 update-item" style="width:200px;">
                                <a asp-controller="BoTruyen" asp-action="CTBoTruyen" asp-route-id="@ct.IbBo">
                                    <figure class="position-relative">
                                        @{
                                            var EarliestChap = chapterRepository.GetChapterEarliestByIdAsync(botruyen.IdBo);
                                            if (EarliestChap != null)
                                            {
                                                var time = chapterRepository.CalculateTimeAgo(EarliestChap.ThoiGian);
                                                if (!string.IsNullOrEmpty(botruyen.AnhBia))
                                                {
                                                    <img src="@botruyen.AnhBia" alt="truyen Image" />
                                                }
                                                <figcaption>
                                                    <h6 class="item-title"><a href="#">@botruyen.TenBo</a></h6>

                                                    <a class="item-chapter" style="font-size: 13px;">
                                                        <span class="chap" style="margin-right: 10px; ">chap @EarliestChap.SttChap</span>
                                                        <span class="time">@time</span>
                                                    </a>
                                                </figcaption>
                                            }
                                            else
                                            {
                                                if (!string.IsNullOrEmpty(botruyen.AnhBia))
                                                {
                                                    <img src="@botruyen.AnhBia" alt="truyen Image" />
                                                }
                                                <figcaption>
                                                    <h6 class="item-title"><a href="#">@botruyen.TenBo</a></h6>

                                                    <a class="item-chapter" style="font-size: 13px;">
                                                        <span class="chap" style="margin-right: 10px; ">chap ...</span>
                                                        <span class="time">... giờ trước</span>
                                                    </a>
                                                </figcaption>
                                            }
                                        }
                                        <div class="unfollow">
                                            @{
                                                var kh = HttpContextAccessor.HttpContext.Session.GetString("TK");
                                                if (kh != null)
                                                {
                                                    var khach = await khachhangrepository.GetByAccountAsync(kh);

                                                    <a onclick="deleteFollow('@khach.IdUser', '@ct.IbBo');" class="unfollow">
                                                        <i style="color:#fff;" class="fa-solid fa-trash-can"></i>
                                                    </a>
                                                    <script>
                                                        function deleteFollow(id, truyen) {
                                                            const formData = new FormData();
                                                            formData.append('id', id);
                                                            formData.append('truyen', truyen);

                                                            fetch('@Url.Action("DeleteFollow", "KhachHang")', {
                                                                method: 'POST',
                                                                body: formData
                                                            })
                                                                .then(response => {
                                                                    if (response.ok) {
                                                                        window.location.reload();
                                                                    }
                                                                    window.location.reload();
                                                                    throw new Error('Something went wrong');
                                                                })
                                                                .then(data => {
                                                                    window.location.reload();
                                                                })
                                                        }
                                                    </script>
                                                }
                                            }
                                        </div>
                                    </figure>
                                </a>
                            </div>
                        }
                    }

                }
                else
                {
                    <div class="section-bottom container w-100 " style="height:50vh;">
                        <img src="/images/yuzu.png" alt="cat Image" />
                        <span>Opps!!! <br />Có vẻ như bạn chưa theo dõi bộ truyện nào.<br />Đi đến danh sách truyện ngay!!</span>
                        <a asp-area="" asp-controller="BoTruyen" asp-action="ListTruyen">List Truyện</a>
                    </div>
                }
                
            </div>
        </div>
        @if (Model.Count() > 0)
        {
            <ul class="listPage">
            </ul>
        }
    </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.js" integrity="sha512-HGOnQO9+SP1V92SrtZfjqxxtLmVzqZpjFFekvzZVWoiASSQgSr4cw9Kqd2+l8Llp4Gm0G8GIFJ4ddwZilcdb8A==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="/js/script.js"></script>
<script src="/js/ScriptShowList.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.js"></script>