@model IEnumerable<ProjectMangaSmurf.Models.Payment>

@{
    ViewData["Title"] = "Order List";
}




<div class="content">
    <div class="page-header">
        <div class="page-title">
            <h4> <i class="fa-solid fa-file-invoice-dollar"></i>  Order List Manager</h4>
            <h6>Histories of Transaction </h6>
        </div>

    </div>

    <div class="card">
        <div class="card-body">
            <div class="table-top">
                <div class="search-set">
                    <div class="search-path">
       
                    </div>

                    <div class="search-input">
                        <a class="btn btn-searchset">
                            <img src="~/img/icons/search-white.svg" alt="img">
                        </a>
                    </div>
                </div>
                
            </div>


            <div class="table-responsive">
                <table class="table datanew">
                    <thead>
                        <tr>

                            <th>Order ID</th>
                            <th>Customer ID</th>
                            <th>Date of Transaction</th>
                            <th>Amount</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var hopDong in Model)
                        {
                            <tr>

                                <td>@hopDong.IdPayment</td>
                                <td><a href="@Url.Action("Detail", "CusManager", new { id = hopDong.IdUser })">@hopDong.IdUser</a></td>
                                <td>@hopDong.PayDate.GetValueOrDefault().ToString("dd/MM/yyyy")</td>
                                <td>@hopDong.PayAmount</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>

        </div>
    </div>
</div>




