@model IEnumerable<ProjectMangaSmurf.Models.BoTruyen>
@using ProjectMangaSmurf.Repository
@inject IboTruyenRepository boTruyenRepository
@inject IChapterRepository chapterRepository

<style>
    .alert-info, .alert-info2 {
        display: inline-flex;
        align-items: center;
        color: #004085; /* Màu chữ xanh */
        background-color: #cce5ff; /* Nền màu xanh nhạt */
        border: 1px solid #b8daff; /* Viền màu xanh */
        padding: 10px;
        padding-right : 30px;
        margin: 10px 10px 20px 0; /* Cách nhau 10px và cách các div dưới 20px */
        border-radius: 5px; /* Bo góc cho khối thông báo */
        word-wrap: break-word; /* Allow long words to wrap */
        max-width: 48%; /* Đảm bảo chúng chiếm dưới 100% khi đặt cạnh nhau */
        box-sizing: border-box; /* Đảm bảo padding và border không ảnh hưởng đến kích thước */
    }

    .alert-info2 {
        color: #212b36; /* Màu chữ */
        background-color: #ffe5b2;
        border: 1px solid #ffbf3f;
    }

    .alert-img {
        max-width: 175px;
        margin-right: 20px; /* Cách chữ 20px */
    }

    .alert-text {
        flex-grow: 1; /* Allow text to take up remaining space */
    }

    .alert-container {
        display: flex;
        flex-wrap: wrap; /* Đảm bảo chúng xuống dòng nếu không đủ chỗ */
    }
</style>

<div class="content">
    <div class="row">
        <div class="alert-container">
            @if (ViewBag.AlertMessage != null)
            {
                <div class="alert-info">
                    <img src="@Url.Content("~/img_admin/announ.png")" class="alert-img" />
                    <div class="alert-text">
                        <h4><i class="fa-solid fa-circle-exclamation"></i> - Notice ! </h4>
                        @ViewBag.AlertMessage
                    </div>
                </div>
            }

            @if (ViewBag.AlertMessage2 != null)
            {
                <div class="alert-info2">
                    <img src="@Url.Content("~/img_admin/maint.png")" class="alert-img" />
                    <div class="alert-text">
                        <h4><i class="fa-solid fa-triangle-exclamation"></i> -Maintenance Announcement</h4>
                        @ViewBag.AlertMessage2
                    </div>
                </div>
            }
        </div>


        <div class="col-lg-3 col-sm-6 col-12">
            <div class="dash-widget">
                <div class="dash-widgetimg">
                    <span>
                        <img src="~/img/icons/dash1.svg" alt="img">
                    </span>
                </div>
                <div class="dash-widgetcontent">
                    <h5>
                        <span class="counters" data-count="@ViewBag.Money">@ViewBag.Money</span>.000 VNĐ
                    </h5>
                    <h6>Profit</h6>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-sm-6 col-12">
            <div class="dash-widget dash1">
                <div class="dash-widgetimg">
                    <span>
                        <i class="fa-solid fa-user-tie"></i>
                    </span>
                </div>
                <div class="dash-widgetcontent">
                    <h5>
                        <span class="counters" data-count="@ViewBag.cus">@ViewBag.cus</span>
                    </h5>
                    <h6>Customers</h6>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-sm-6 col-12">
            <div class="dash-widget dash2">
                <div class="dash-widgetimg">
                    <span>
                        <i class="fa-solid fa-file-arrow-up"></i>
                    </span>
                </div>
                <div class="dash-widgetcontent">
                    <h5>
                        <span class="counters" data-count="@ViewBag.Bo">@ViewBag.Bo</span> Comic-Series
                    </h5>
                    <h6>Uploaded Series</h6>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-sm-6 col-12">
            <div class="dash-widget dash3">
                <div class="dash-widgetimg">
                    <span>
                        <i class="fa-solid fa-eye"></i>
                    </span>
                </div>
                <div class="dash-widgetcontent">
                    <h5>
                        <span class="counters" data-count="@ViewBag.View">@ViewBag.View</span> 
                    </h5>
                    <h6>Total Visits</h6>
                </div>
            </div>
        </div>

    </div>
    <div class="row">
        <div class="col-lg-8 col-sm-12 col-12 d-flex">
            <div class="card flex-fill">
                <div class="card-header pb-0 d-flex justify-content-between align-items-center">
                    <h5 class="card-title mb-0">Quick Actions                <i class="fa-solid fa-forward-fast"></i></h5>
                </div>
                <div class="card-body">
                    <div class="row h-100">

                        <div class="col-lg-3 col-md-4 col-sm-12 col-12">
                            <div class="dash-count das3 d-flex flex-column">
                                <div class="dash-imgs">
                                    <i class="fa-solid fa-clipboard-user"></i>
                                </div>
                                <div class="dash-counts">
                                    <a asp-area="Admin" asp-controller="StaffManager" asp-action="Index"> <h5>Manage Staff</h5></a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-4 col-sm-12 col-12">
                            <div class="dash-count das3 d-flex flex-column">
                                <div class="dash-imgs">
                                    <i class="fa-solid fa-display"></i>
                                </div>
                                <div class="dash-counts">
                                    <a asp-area="Admin" asp-controller="WebManager" asp-action="Setting">
                                        <h5>Manage Display</h5>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-4 col-sm-12 col-12">
                            <div class="dash-count das3 d-flex flex-column">
                                <div class="dash-imgs">
                                    <i class="fa-brands fa-adversal"></i>
                                </div>
                                <div class="dash-counts">
                                    <a asp-area="Admin" asp-controller="StaffManager" asp-action="Log">
                                        <h5>Manage Active-Logs</h5> 
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-4 col-sm-12 col-12">
                            <div class="dash-count das3 d-flex flex-column">
                                <div class="dash-imgs">
                                    <i class="fa-solid fa-sliders"></i>
                                </div>
                                <div class="dash-counts">
                                    <a asp-area="Admin" asp-controller="ServiceManager" asp-action="Add">
                                        <h5>Service Settings</h5>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-4 col-sm-12 col-12">
                            <div class="dash-count das3 d-flex flex-column">
                                <div class="dash-imgs">
                                    <i class="fa-solid fa-cash-register"></i>
                                </div>
                                <div class="dash-counts">
                                    <a asp-area="Admin" asp-controller="CusManager" asp-action="ViewOrderList">
                                        <h5>Payment Views </h5>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-4 col-sm-12 col-12">
                            <div class="dash-count das3 d-flex flex-column">
                                <div class="dash-imgs">
                                    <i class="fa-regular fa-square-plus"></i>
                                </div>
                                <div class="dash-counts">
                                    <a asp-area="Admin" asp-controller="BoTruyenManager" asp-action="add">
                                        <h5>Upload New Series</h5>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-4 col-sm-12 col-12">
                            <div class="dash-count das3 d-flex flex-column">
                                <div class="dash-imgs">
                                    <i class="fa-solid fa-book-bookmark"></i>
                                </div>
                                <div class="dash-counts">
                                    <a asp-area="Admin" asp-controller="BoTruyenManager" asp-action="ViewList">
                                        <h5>Comic Library</h5>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-4 col-sm-12 col-12">
                            <div class="dash-count das3 d-flex flex-column">
                                <div class="dash-imgs">
                                    <i class="fa-solid fa-user-plus"></i>
                                </div>
                                <div class="dash-counts">
                                    <a asp-area="Admin" asp-controller="CusManager" asp-action="ViewList">
                                        <h5>Views Customers</h5>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-sm-12 col-12 d-flex">
            <div class="card flex-fill">
                <div class="card-header pb-0 d-flex justify-content-between align-items-center">
                    <h4 class="card-title mb-0">Featured Series           <i class="fa-brands fa-stack-overflow"></i></h4>
                    <div class="dropdown">
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <li>
                                <a href="productlist.html" class="dropdown-item">Product List</a>
                            </li>
                            <li>
                                <a href="addproduct.html" class="dropdown-item">Product Add</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="card-body">
                    <div class="table-responsive dataview">
                        <table class="table datatable">
                            <thead>
                                <tr>
                                    <th>Id</th>
                                    <th>Series Name</th>
                                    <th>Chapters</th>
                                </tr>
                            </thead>
                            <tbody>
                                @{
                                    int i = 1;
                                    foreach (var b in ViewBag.listPopular)
                                    {
                                        var chap = await boTruyenRepository.CountChapterById(b.IdBo);
                                        <tr>
                                            <td>@i</td>
                                            <td class="productimgname">
                                                <a class="product-img">
                                                    <img src="@b.AnhBia" alt="product">
                                                </a>
                                                <a>@b.TenBo</a>
                                            </td>
                                            <td>@chap</td>
                                        </tr>
                                        i++;
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card mb-0">
        <div class="card-body">
            <h4 class="card-title">Latest Series                       <i class="fa-solid fa-paper-plane"></i> </h4>
            <div class="table-responsive dataview">
                <table class="table datatable">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Series Name</th>
<<<<<<< HEAD
                            <th>Image</th>
=======
                            <th>Premium</th>
                            <th>Banner</th>
>>>>>>> 4fb584e170da6c6baae985c62871a8900f39bc3a
                        </tr>
                    </thead>
                    <tbody>
                        @{
                            @foreach (var bo in ViewBag.ListEarliest)
                            {
                                var list = await boTruyenRepository.GetListLoaiCAsync(bo.IdBo);
                                string loaitruyen = string.Join(", ", list);
                                <tr>
                                    <td>@bo.IdBo</td>
                                    <td>
                                        <a href="javascript:void(0);">@bo.TenBo</a>
                                    </td>
                                    <td>
                                        @switch (bo.TtPemium)
                                        {
                                            case true:
                                                <span class="text-success">Premium</span>
                                                break;
                                            case false:
                                                <span class="text-danger">Inactive</span>
                                                break;
                                            default:
                                                <span class="text-secondary">Stop</span>
                                                break;
                                        }
                                    </td>
                                    <td class="productimgname">
                                        <a class="product-img">
<<<<<<< HEAD
                                            <img src="@bo.AnhBia" alt="product">
=======
                                            <img src="@bo.AnhBanner" alt="product">
>>>>>>> 4fb584e170da6c6baae985c62871a8900f39bc3a
                                        </a>
                                    </td>
                                  
                                </tr>
                            }

                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
