@model IEnumerable<ProjectMangaSmurf.Models.BoTruyen>
@using ProjectMangaSmurf.Repository
@inject IboTruyenRepository boTruyenRepository
@inject IChapterRepository chapterRepository

<div class="content">
    <div class="row">
        <div class="col-lg-3 col-sm-6 col-12">
            <div class="dash-widget">
                <div class="dash-widgetimg">
                    <span>
                        <img src="~/img/icons/dash1.svg" alt="img">
                    </span>
                </div>
                <div class="dash-widgetcontent">
                    <h5>
                        VND <span class="counters" data-count="@ViewBag.Money">@ViewBag.Money</span>
                    </h5>
                    <h6>Lợị nhuận</h6>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-sm-6 col-12">
            <div class="dash-widget dash1">
                <div class="dash-widgetimg">
                    <span>
                        <i class="fa-solid fa-user-tie"></i>
                    </span>
                </div>
                <div class="dash-widgetcontent">
                    <h5>
                        <span class="counters" data-count="@ViewBag.cus">@ViewBag.cus</span>
                    </h5>
                    <h6>Khách hàng</h6>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-sm-6 col-12">
            <div class="dash-widget dash2">
                <div class="dash-widgetimg">
                    <span>
                        <i class="fa-solid fa-file-arrow-up"></i>
                    </span>
                </div>
                <div class="dash-widgetcontent">
                    <h5>
                        <span class="counters" data-count="@ViewBag.Bo">@ViewBag.Bo</span> bộ
                    </h5>
                    <h6>Bộ truyện đã đăng tải</h6>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-sm-6 col-12">
            <div class="dash-widget dash3">
                <div class="dash-widgetimg">
                    <span>
                        <i class="fa-solid fa-eye"></i>
                    </span>
                </div>
                <div class="dash-widgetcontent">
                    <h5>
                        <span class="counters" data-count="@ViewBag.View">@ViewBag.View</span> view
                    </h5>
                    <h6>Tổng lượt truy cập </h6>
                </div>
            </div>
        </div>

    </div>
    <div class="row">
        <div class="col-lg-8 col-sm-12 col-12 d-flex">
            <div class="card flex-fill">
                <div class="card-header pb-0 d-flex justify-content-between align-items-center">
                    <h5 class="card-title mb-0">Thao tác nhanh</h5>

                </div>
                <div class="card-body">
                    <div class="row h-100">

                        <div class="col-lg-3 col-md-4 col-sm-12 col-12">
                            <div class="dash-count das3 d-flex flex-column">
                                <div class="dash-imgs">
                                    <i class="fa-solid fa-clipboard-user"></i>
                                </div>
                                <div class="dash-counts">
                                    <h5>Quản lý nhân viên</h5>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-4 col-sm-12 col-12">
                            <div class="dash-count das3 d-flex flex-column">
                                <div class="dash-imgs">
                                    <i class="fa-solid fa-display"></i>
                                </div>
                                <div class="dash-counts">
                                    <h5>Quản lý hiển thị</h5>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-4 col-sm-12 col-12">
                            <div class="dash-count das3 d-flex flex-column">
                                <div class="dash-imgs">
                                    <i class="fa-solid fa-phone-volume"></i>
                                </div>
                                <div class="dash-counts">
                                    <h5>Quản lý liên hệ</h5>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-4 col-sm-12 col-12">
                            <div class="dash-count das3 d-flex flex-column">
                                <div class="dash-imgs">
                                    <i class="fa-solid fa-sliders"></i>
                                </div>
                                <div class="dash-counts">
                                    <h5>Cài đặt hệ thống</h5>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-4 col-sm-12 col-12">
                            <div class="dash-count das3 d-flex flex-column">
                                <div class="dash-imgs">
                                    <i class="fa-solid fa-link"></i>
                                </div>
                                <div class="dash-counts">
                                    <h5>Custom footer</h5>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-4 col-sm-12 col-12">
                            <div class="dash-count das3 d-flex flex-column">
                                <div class="dash-imgs">
                                    <i class="fa-regular fa-square-plus"></i>
                                </div>
                                <div class="dash-counts">
                                    <h5>Thêm truyện mới</h5>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-4 col-sm-12 col-12">
                            <div class="dash-count das3 d-flex flex-column">
                                <div class="dash-imgs">
                                    <i class="fa-regular fa-pen-to-square"></i>
                                </div>
                                <div class="dash-counts">
                                    <h5>Thư viện bài viết</h5>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-4 col-sm-12 col-12">
                            <div class="dash-count das3 d-flex flex-column">
                                <div class="dash-imgs">
                                    <i class="fa-solid fa-user-plus"></i>
                                </div>
                                <div class="dash-counts">
                                    <h5>Khách hàng</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-sm-12 col-12 d-flex">
            <div class="card flex-fill">
                <div class="card-header pb-0 d-flex justify-content-between align-items-center">
                    <h4 class="card-title mb-0">Bộ truyện tiêu biểu</h4>
                    <div class="dropdown">
                        <a href="javascript:void(0);" data-bs-toggle="dropdown" aria-expanded="false" class="dropset">
                            <i class="fa fa-ellipsis-v"></i>
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <li>
                                <a href="productlist.html" class="dropdown-item">Product List</a>
                            </li>
                            <li>
                                <a href="addproduct.html" class="dropdown-item">Product Add</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="card-body">
                    <div class="table-responsive dataview">
                        <table class="table datatable ">
                            <thead>
                                <tr>
                                    <th>Id</th>
                                    <th>Tên Truyện</th>
                                    <th>Chapter</th>
                                </tr>
                            </thead>
                            <tbody>
                                @{
                                    int i = 1;
                                    foreach (var b in ViewBag.listPopular)
                                    {
                                        var chap = boTruyenRepository.CountChapterById(b.IdBo);
                                        <tr>
                                            <td>@i</td>
                                            <td class="productimgname">
                                                <a class="product-img">
                                                    <img src="@b.AnhBia" alt="product">
                                                </a>
                                                <a>@b.TenBo</a>
                                            </td>
                                            <td>@chap</td>
                                        </tr>
                                        i++;
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card mb-0">
        <div class="card-body">
            <h4 class="card-title">Bộ truyện mới nhất</h4>
            <div class="table-responsive dataview">
                <table class="table datatable ">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Tên Truyện</th>
                            <th>Image</th>
                            <th>Thể loại</th>
                            <th>Chapter</th>
                            <th>Ngày cập nhật</th>
                        </tr>
                    </thead>
                    <tbody>
                        @{
                            foreach (var bo in ViewBag.ListEarliest)
                            {
                                var list = boTruyenRepository.GetListLoaiAsync(bo.IdBo);
                                var EarliestChap = chapterRepository.GetChapterEarliestByIdAsync(bo.IdBo);
                                var time = EarliestChap != null ? chapterRepository.CalculateTimeAgo(EarliestChap.ThoiGian) : "... giờ trước";
                                var chapText = EarliestChap != null ? $"chap {EarliestChap.SttChap}" : "chap ...";
                                string loaitruyen = string.Join(", ", list);
                                <tr>
                                    <td>@bo.IdBo</td>
                                    <td>
                                        <a href="javascript:void(0);">@bo.TenBo</a>
                                    </td>
                                    <td class="productimgname">
                                        <a class="product-img" >
                                            <img src="@bo.AnhBia" alt="product">
                                        </a>
                                    </td>
                                    <td>@loaitruyen</td>
                                    <td>@chapText</td>
                                    <td>@time</td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

