@model IEnumerable<ProjectMangaSmurf.Models.BoTruyen>

@using ProjectMangaSmurf.Repository
@inject IboTruyenRepository boTruyenRepository
@inject IChapterRepository chapterRepository

<style>
    .page-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .filters {
        margin-left: 100px;
        margin-top: 10px;
    }

    .search-set + .filters {
        margin-top: 10px;
    }
</style>
<div class="content">
    <div class="page-header">
        <div class="page-title">
            <h4>Danh Sách Bộ Truyện</h4>
            <h6>Quản Lý danh sách bộ truyện </h6>
        </div>
        <div class="page-btn">
            <a asp-area="Admin" asp-controller="BoTruyenManager" asp-action="add" class="btn btn-added">
                <img src="~/img/icons/plus.svg" alt="img" class="me-1"> Add New Author
            </a>
        </div>
    </div>

    <div class="card">
        <div class="card-body">
            <div class="table-top">
                <div class="search-set">
                    <div class="search-path">
                        <a class="btn btn-filter" id="filter_search">
                            <img src="~/img/icons/filter.svg" alt="img">
                            <span><img src="~/img/icons/closes.svg" alt="img"></span>
                        </a>
                    </div>
                    <div class="search-input">
                        <a class="btn btn-searchset">
                            <img src="~/img/icons/search-white.svg" alt="img">
                        </a>
                    </div>
@*                     <div class="filters">
                        <a href="@Url.Action("ViewList","BoTruyenManager", new { area = "Admin", isActive = (bool?)null })" class="btn btn-primary">See All</a>
                        <a href="@Url.Action("ViewList", "BoTruyenManager", new { area = "Admin", isActive = true })" class="btn btn-success">Activating</a>
                        <a href="@Url.Action("ViewList", "BoTruyenManager", new { area = "Admin", isActive = false })" class="btn btn-danger">Banning</a>
                    </div> *@
                </div>
                <div class="wordset">
                    <ul>
                        <li>
                            <a data-bs-toggle="tooltip" data-bs-placement="top" title="pdf">
                                <img src="~/img/icons/pdf.svg" alt="img">
                            </a>
                        </li>
                        <li>
                            <a data-bs-toggle="tooltip" data-bs-placement="top" title="excel">
                                <img src="~/img/icons/excel.svg" alt="img">
                            </a>
                        </li>
                    </ul>
                </div>
            </div>

            

            <div class="table-responsive">
                <table class="table  datanew">
                    <thead>
                        <tr>
                            <th>ID Truyện</th>
                            <th>Tên truyện</th>
                            <th>Độ tuổi</th>
                            <th>Tác Giả</th>
                            <th>Tổng Đánh Giá</th>
                            <th>Tổng lượt xem</th>
                            <th>Loại Truyện</th>
                            @* <th>Ảnh bìa</th>
                            <th>Ảnh banner<th> *@
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach(var i in Model)
                            {
                            <tr>
                                @{
                                    var tg = boTruyenRepository.getNameTGById(i.IdTg);
                                    var listloai = string.Join(",", i.listloai);
                                }
                                <td>@i.IdBo</td>
                                <td>@i.TenBo</td>
                                <td>@i.Dotuoi</td>
                                
                                <td>@tg</td>
                                <td>@i.TkDanhgia</td>
                                <td>@i.TongLuotXem</td>
                                <td>@listloai</td>
                                <td>
                                    <a asp-area="Admin" asp-controller="BoTruyenManager" asp-action="Detail" asp-route-id="@i.IdBo" class="me-3">
                                        <img src="~/img/icons/eye.svg" alt="img">
                                    </a>
                                    <a asp-area="Admin" asp-controller="BoTruyenManager" asp-action="Update" asp-route-id="@i.IdBo" class="me-3 ">
                                        <img src="~/img/icons/edit.svg" alt="img">
                                    </a>
                                    <a class="delete-product me-3" data-product-id="@i.IdBo" href="javascript:void(0);">
                                        <img src="~/img/icons/delete.svg" alt="img">
                                    </a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>


